/*--------------------------------style.always-----------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  position: relative;
  color: #929292;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #929292;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
li {
  list-style-type: none;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
}
.col-12 {
  width: calc(100%);
}
.col-11 {
  width: calc(91.66666667%);
}
.col-10 {
  width: calc(83.33333333%);
}
.col-9 {
  width: calc(75%);
}
.col-8 {
  width: calc(66.66666667%);
}
.col-7 {
  width: calc(58.33333333%);
}
.col-6 {
  width: calc(50%);
}
.col-5 {
  width: calc(41.66666667%);
}
.col-4 {
  width: calc(33.33333333%);
}
.col-2 {
  width: calc(16.66666667%);
}
.col-1 {
  width: calc(8.33333333%);
}
.container {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}
/*---------------------------------about.css--------------------------------------------*/
/*---------------------------customize------------------------------*/
/*----------------------------Header------------------------------*/
#full-screen-cover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-brand {
  height: auto;
  padding: 44px 42px 50px 53px;
  line-height: normal;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  font-family: Montserrat, sans-serif;
}
.navbar-default .navbar-nav > li .dropdown-container {
  position: relative;
}
.navbar-default .navbar-nav > li .dropdown-container:hover .dropdown-content {
  display: block;
}
.navbar-default .navbar-nav > li .dropdown-container .dropdown-content {
  display: none;
  position: absolute;
  top: 33px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 3;
}
.navbar-default .navbar-nav > li .dropdown-container .dropdown-content a {
  display: block;
  border-bottom: 1px solid #000;
  padding: 15px;
  color: #929292;
  transition: all 0.3s ease;
  text-decoration: none;
}
.navbar-default .navbar-nav > li .dropdown-container .dropdown-content a:hover {
  color: #D6B161;
}
.navbar-default .navbar-nav > li#shopping-cart {
  position: relative;
  z-index: 0;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base {
  display: none;
  position: absolute;
  padding: 60px 0px 46px 0px;
  width: 381px;
  max-width: 381px;
  right: 0px;
  background-color: #fff;
  z-index: 3;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base:hover {
  display: block;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .triangle {
  position: absolute;
  top: -9px;
  right: 21px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #ffffff transparent;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content {
  width: 75%;
  margin: 0 auto;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure {
  margin-top: 16px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure:first-child {
  margin-top: 0px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .photo {
  display: inline-block;
  margin-right: 20px;
  width: 26%;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info {
  position: relative;
  bottom: 10px;
  display: inline-block;
  width: 65%;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .item-name {
  color: #959595;
  font-weight: bold;
  font-size: 12px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .price {
  margin-top: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #252528;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .price i.fa-eur {
  margin-right: 5px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .price i.fa-times {
  color: #f05c5c;
  float: right;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .amount {
  color: #959595;
  margin-top: 4px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .total-count .total-word {
  float: left;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .total-count .total-amount {
  color: #000;
  float: right;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .total-count .total-amount i {
  margin-right: 5px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .view-or-checkout a {
  text-align: center;
  font-family: Montserrat, sans-serif;
  border: 1px solid #000;
  border-radius: 24px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .view-or-checkout a.view {
  padding: 10px 15px;
  width: 127px;
  max-width: 127px;
  float: left;
  color: #000;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .view-or-checkout a.checkout {
  padding: 10px 15px;
  width: 140px;
  max-width: 140px;
  float: right;
  background-color: #000;
  color: white;
}
.navbar-default .navbar-nav > li .twicks {
  position: relative;
  bottom: 5px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default div.dropdown-container {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 15px;
  color: black;
  transition: color 0.3s ease;
  cursor: pointer;
}
.navbar-default .navbar-nav > li > a:active,
.navbar-default div.dropdown-container:active {
  color: #D6B161;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default div.dropdown-container:hover {
  color: #D6B161;
}
.navbar-default .navbar-nav > li > a [class^="icon-"]:before,
.navbar-default div.dropdown-container [class^="icon-"]:before,
.navbar-default .navbar-nav > li > a [class*=" icon-"]:before,
.navbar-default div.dropdown-container [class*=" icon-"]:before {
  margin: 0;
}
.navbar-default .navbar-nav > li > a div.count,
.navbar-default div.dropdown-container div.count {
  background-color: black;
  position: absolute;
  bottom: 6px;
  right: 3px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  color: white;
  transition: background-color 0.2s linear;
}
.navbar-default .navbar-nav > li > a div.count:hover,
.navbar-default div.dropdown-container div.count:hover {
  background: #D6B161;
}
.navbar-default .navbar-text {
  margin: 0;
  padding-top: 53px;
  color: black;
}
ul.nav.navbar-nav.navbar-right {
  padding-top: 38px;
}
/*--------------------------------nav-bar's RWD-------------------------------------*/
@media screen and (max-width: 1229px) {
  div#nav1 {
    text-align: center;
  }
  .navbar-default {
    font-family: Montserrat, sans-serif;
  }
  .navbar-default .navbar-nav > li .twicks {
    position: relative;
    bottom: 5px;
  }
  .navbar-default .navbar-nav > li .dropdown-container .dropdown-content {
    top: 17px;
    right: -80px;
    z-index: 4;
  }
  .navbar-default .navbar-nav > li:nth-child(3) .dropdown-container .dropdown-content {
    top: 40px;
    right: -106px;
    z-index: 4;
  }
  .navbar-default .navbar-toggle {
    border: 0;
  }
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #D6B161;
  }
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
    transition: all 0.2s ease;
  }
  .navbar-default .navbar-nav > li > a div.count {
    bottom: 2px;
    right: 3px;
  }
  .navbar-default .navbar-text {
    padding-top: 43.5px;
  }
  .navbar-default ul.nav.navbar-nav.navbar-right {
    padding-bottom: 36px;
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base {
    padding-bottom: 31px;
    width: 50%;
    min-width: 320px;
    max-width: 381px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%);
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content {
    width: 75%;
    margin: 0 auto;
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info {
    text-align: left;
  }
  .navbar-default .navbar-nav > li#shopping-cart .triangle {
    display: none;
  }
  .navbar-default .navbar-nav > li > a {
    display: inline-block;
    color: black;
    transition: color 0.3s ease;
  }
  .navbar-default .navbar-nav > li > a:active {
    color: #D6B161;
  }
  .navbar-default .navbar-nav > li > a:hover {
    color: #D6B161;
  }
  .navbar-default .navbar-nav > li > a [class^="icon-"]:before,
  .navbar-default .navbar-nav > li > a [class*=" icon-"]:before {
    margin: 0;
  }
  .navbar-default .navbar-nav > li > a div.count {
    background-color: black;
    position: absolute;
    bottom: 6px;
    right: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 8px;
    font-weight: 400;
    color: white;
    transition: background-color 0.2s linear;
  }
  .navbar-default .navbar-nav > li > a div.count:hover {
    background: #D6B161;
  }
  .navbar-default .navbar-text {
    margin: 0;
    padding-top: 53px;
    color: black;
  }
  .navbar-toggle {
    margin-right: 53px;
    padding: 10px 10px;
    margin-top: 41px;
  }
}
@media screen and (max-width: 767px) {
  a.navbar-brand {
    padding-left: 7px;
  }
  .navbar-toggle {
    margin-right: 7px;
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base {
    padding-bottom: 14px;
    width: 100%;
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content {
    width: 87%;
    margin: 0 auto;
  }
  .navbar-default .navbar-nav > li > a {
    display: inline-block;
    color: black;
    transition: color 0.3s ease;
  }
  .navbar-default .navbar-nav > li > a:active {
    color: #D6B161;
  }
  .navbar-default .navbar-nav > li > a:hover {
    color: #D6B161;
  }
  .navbar-default .navbar-nav > li > a [class^="icon-"]:before,
  .navbar-default .navbar-nav > li > a [class*=" icon-"]:before {
    margin: 0;
  }
  .navbar-default .navbar-nav > li > a div.count {
    background-color: black;
    position: absolute;
    bottom: 6px;
    right: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 8px;
    font-weight: 400;
    color: white;
    transition: background-color 0.2s linear;
  }
  .navbar-default .navbar-nav > li > a div.count:hover {
    background: #D6B161;
  }
  .navbar-default .navbar-text {
    margin: 0;
    padding-top: 53px;
    color: black;
  }
}
.about-us {
  background: #f4f4f4;
  padding: 52px 0px 71px 0px;
  text-align: center;
}
.about-us h1 {
  color: #494949;
  font-family: Montserrat, sans-serif;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}
.about-us p {
  padding-top: 18px;
  text-transform: capitalize;
  font-size: 14px;
  color: #494949;
}
/*----------------------------------Content-----------------------*/
.who-we-are {
  padding-top: 95px;
}
.who-we-are h2 {
  font-family: Montserrat, sans-serif;
  color: #494949;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
}
.who-we-are p {
  padding-top: 60px;
  line-height: 30px;
  color: #494949;
}
.who-we-are p span {
  line-height: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #494949;
}
.who-we-are p.bold {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #494949;
}
.who-we-are ul.social {
  padding-top: 10px;
}
.who-we-are ul.social li {
  float: left;
}
.who-we-are ul.social li a {
  padding-right: 10px;
  font-size: 16px;
  color: #494949;
}
.our-team h2 {
  font-family: Montserrat, sans-serif;
  color: #494949;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
}
.our-team .container {
  padding-top: 112px;
}
.our-team .row {
  padding-top: 42px;
}
.our-team .col-x:nth-child(4) {
  position: relative;
}
.our-team .col-x > ul {
  padding-top: 18px;
}
.our-team .col-x > ul li:first-child {
  margin-right: 10px;
  width: 7px;
  height: 32px;
  background-color: #eeeeee;
  float: left;
}
.our-team .col-x > ul .name {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #494949;
}
.our-team .col-x > ul .position {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.our-team .member {
  position: relative;
}
.our-team .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: all 0.3s ease;
}
.our-team .cover:hover {
  opacity: 1;
  cursor: pointer;
}
.our-team .cover:hover ul {
  transform: translate(-50%, -50%);
}
.our-team .cover ul {
  position: absolute;
  top: 0;
  left: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%);
  transition: all 0.3s ease;
}
.our-team .cover ul li i {
  background: #515151;
  padding-top: 9px;
  padding-left: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  color: white;
  transition: color 0.3s ease;
}
.our-team .cover ul li i:hover {
  color: #D6B161;
}
.our-team .empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.our-work-space {
  margin-top: 125px;
  margin-bottom: 50px;
}
.our-work-space .owl-item {
  opacity: 0.3;
}
.our-work-space .owl-item.cloned {
  opacity: 0.3;
}
.our-work-space .owl-item.active.center {
  opacity: 1;
}
.active {
  opacity: 0.3;
}
.owl-carousel {
  /*  owl-carousel nav 與navigation 的大小 */
  /* dots style*/
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 45%;
  left: 11%;
  font-size: 40px;
  color: #444;
  outline: none;
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 45%;
  right: 11%;
  font-size: 40px;
  color: #444;
  outline: none;
}
.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-carousel button.owl-dot {
  display: inline-block;
  width: 50px;
  height: 2px;
  background: #000;
  margin-right: 10px;
  outline: none;
}
/*---------------------------------Footer--------------------------*/
#Footer .misc {
  background-color: #f6f6f6;
}
#Footer .misc .container {
  padding-top: 72px;
  padding-bottom: 75px;
}
#Footer .col-left {
  font-weight: 700;
  color: #a8a8a8;
}
#Footer .col-left a {
  text-transform: capitalize;
  color: #a8a8a8;
}
#Footer .col-left div i {
  padding-right: 3px;
}
#Footer .col-left div i.fa-map-marker {
  display: inline-block;
  position: relative;
  top: -15px;
}
#Footer .col-left div.address a {
  display: inline-block;
}
#Footer .col-left #logo-gray {
  padding-bottom: 30px;
  width: 112px;
}
#Footer .col-left p {
  padding-bottom: 30px;
}
#Footer .col-left .address {
  padding-bottom: 30px;
}
#Footer .col-center .col-inner > a {
  text-transform: capitalize;
  cursor: pointer;
  padding-left: 5px;
  font-weight: 700;
  font-size: 18px;
  color: #575757;
}
#Footer .col-center .col-inner > a:hover {
  text-decoration: none;
}
#Footer .col-center .col-inner ul.collapse.in {
  padding-top: 27px;
}
#Footer .col-center .col-inner ul.collapsing {
  padding-top: 27px;
}
#Footer .col-center .col-inner li a {
  color: #929292;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  display: block;
}
#Footer .col-right .sign-up {
  text-align: right;
}
#Footer .col-right .sign-up > li {
  padding-bottom: 30px;
  font-weight: 700;
}
#Footer .col-right .sign-up li.title {
  font-size: 18px;
  color: #575757;
  padding-bottom: 30px;
}
#Footer .col-right .sign-up li.email {
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 30px;
}
#Footer .col-right .sign-up li i.fa-angle-right {
  position: absolute;
  right: 10%;
  bottom: 50%;
  transform: translateY(50%);
  font-size: 16px;
  cursor: pointer;
}
#Footer .col-right .sign-up li.bold {
  padding-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #494949;
}
#Footer .col-right .sign-up ul.social {
  float: right;
}
#Footer .col-right .sign-up ul.social li {
  float: left;
}
#Footer .col-right .sign-up ul.social li a {
  padding-left: 10px;
  font-size: 16px;
  color: #494949;
}
#Footer .col-right .sign-up input {
  padding: 10px 0px;
  padding-left: 20px;
  background-color: #f6f6f6;
  border-radius: 23px;
  width: 100%;
  border: 1px solid #868686;
}
#Footer .col-right .sign-up input:focus {
  outline: none;
  border: 1px solid #66afe9;
}
#Footer .copy-right .container {
  padding-top: 40px;
  padding-bottom: 95px;
}
#Footer .copy-right .col-xs-6 p {
  font-weight: 700;
}
#Footer .copy-right .col-xs-6 a {
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  transition: all 0.3s linear;
}
#Footer .copy-right .col-xs-6 a:hover {
  color: red;
}
#Footer .copy-right .col-xs-6 .pay-method {
  float: right;
  width: 117px;
}
#Footer .copy-right .col-xs-6 .pay-method img {
  position: relative;
  bottom: 3px;
}
/*--------------------------------------------------------RWD-------------------------------------------------------*/
@media screen and (max-width: 991px) {
  #Footer .row .col-x {
    text-align: center;
  }
  #Footer .row > .col-left {
    float: none;
  }
  #Footer .row > .col-left i.fa-map-marker {
    top: -20px;
  }
  #Footer .row > .col-left #logo-gray {
    margin: 0 auto;
  }
  #Footer .row > .col-center {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #Footer .row > .col-center .col-inner {
    padding-bottom: 20px;
  }
  #Footer .row > .col-right li {
    position: relative;
    text-align: center;
  }
  #Footer .row > .col-right li input {
    width: 50%;
    min-width: 218px;
  }
  #Footer .row > .col-right li i.fa-angle-right {
    right: 30%;
  }
  #Footer .row > .col-right li.social {
    width: 153px;
    display: block;
    margin: 0 auto;
  }
  #Footer .row > .col-right li.social ul.social {
    float: none;
  }
  #Footer .row > .col-right li.social ul.social a {
    padding: 0px 10px 0px 0px;
  }
}
@media screen and (max-width: 464px) {
  #Footer .col-right .sign-up li i.fa-angle-right {
    position: static;
    bottom: 50%;
    transform: translate(-600%, 0%);
    font-size: 16px;
    cursor: pointer;
  }
}

/*# sourceMappingURL=about.css.map */