/*---------------------------------about.css--------------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  position: relative;
  color: #929292;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
dl,
dt,
dd {
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.col-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
}
.col-5 {
  width: 41.666666666666667%;
  float: left;
  padding: 0 15px;
}
.col-4 {
  width: 33.333333%;
  float: left;
  padding: 0 15px;
}
.col-3 {
  width: calc(25%);
  float: left;
  padding: 0 15px;
}
.co-2 {
  width: calc(16.66666667%);
}
.row {
  margin: 0 -15px;
}
.col-2 {
  float: left;
  padding: 0 15px;
}
.col-12 {
  float: left;
  padding: 0 15px;
}
.container {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
.nav_container {
  max-width: 1980px;
  display: block;
  margin: 0 auto;
}
#cart-container {
  display: none;
}
.template {
  display: none;
}
/*----------------------------Header------------------------------*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-brand {
  height: auto;
  padding: 44px 42px 50px 53px;
  line-height: normal;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  font-family: Montserrat, sans-serif;
}
.navbar-default .navbar-nav > li .twicks {
  position: relative;
  bottom: 5px;
}
.navbar-default .navbar-nav > li > a {
  display: inline-block;
  color: black;
  transition: color 0.3s ease;
}
.navbar-default .navbar-nav > li > a:active {
  color: #D6B161;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #D6B161;
}
.navbar-default .navbar-nav > li > a [class^="icon-"]:before,
.navbar-default .navbar-nav > li > a [class*=" icon-"]:before {
  margin: 0;
}
.navbar-default .navbar-nav > li > a div.count {
  background-color: black;
  position: absolute;
  bottom: 6px;
  right: 3px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  color: white;
  transition: background-color 0.2s linear;
}
.navbar-default .navbar-nav > li > a div.count:hover {
  background: #D6B161;
}
.navbar-default .navbar-text {
  margin: 0;
  padding-top: 53px;
  color: black;
}
ul.nav.navbar-nav.navbar-right {
  padding-top: 38px;
}
.about-us {
  background: #f4f4f4;
  padding: 52px 0px 71px 0px;
  text-align: center;
}
.about-us h1 {
  color: #494949;
  font-family: Montserrat, sans-serif;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}
.about-us p {
  padding-top: 18px;
  text-transform: capitalize;
  font-size: 14px;
  color: #494949;
}
/*----------------------------------Content-----------------------*/
.who-we-are {
  padding-top: 95px;
}
.who-we-are h2 {
  font-family: Montserrat, sans-serif;
  color: #494949;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
}
.who-we-are p {
  padding-top: 60px;
  line-height: 30px;
  color: #494949;
}
.who-we-are p span {
  line-height: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #494949;
}
.who-we-are p.bold {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #494949;
}
.who-we-are ul.social {
  padding-top: 10px;
}
.who-we-are ul.social li {
  float: left;
}
.who-we-are ul.social li a {
  padding-right: 10px;
  font-size: 16px;
  color: #494949;
}
.our-team h2 {
  font-family: Montserrat, sans-serif;
  color: #494949;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
}
.our-team .container {
  padding-top: 112px;
}
.our-team .row {
  padding-top: 42px;
}
.our-team .col-x:nth-child(4) {
  position: relative;
}
.our-team .col-x > ul {
  padding-top: 18px;
}
.our-team .col-x > ul li:first-child {
  margin-right: 10px;
  width: 7px;
  height: 32px;
  background-color: #eeeeee;
  float: left;
}
.our-team .col-x > ul .name {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #494949;
}
.our-team .col-x > ul .position {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.our-team .member {
  position: relative;
}
.our-team .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: all 0.3s ease;
}
.our-team .cover:hover {
  opacity: 1;
  cursor: pointer;
}
.our-team .cover:hover ul {
  transform: translate(-50%, -50%);
}
.our-team .cover ul {
  position: absolute;
  top: 0;
  left: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%);
  transition: all 0.3s ease;
}
.our-team .cover ul li i {
  background: #515151;
  padding-top: 9px;
  padding-left: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 18px;
  color: white;
  transition: color 0.3s ease;
}
.our-team .cover ul li i:hover {
  color: #D6B161;
}
.our-team .empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.our-work-space {
  margin-top: 125px;
  margin-bottom: 50px;
}
.our-work-space .owl-item {
  opacity: 0.3;
}
.our-work-space .owl-item.cloned {
  opacity: 0.3;
}
.our-work-space .owl-item.active.center {
  opacity: 1;
}
.active {
  opacity: 0.3;
}
.owl-carousel {
  /*  owl-carousel nav 與navigation 的大小 */
  /* dots style*/
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 45%;
  left: 11%;
  font-size: 40px;
  color: #444;
  outline: none;
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 45%;
  right: 11%;
  font-size: 40px;
  color: #444;
  outline: none;
}
.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-carousel button.owl-dot {
  display: inline-block;
  width: 50px;
  height: 2px;
  background: #000;
  margin-right: 10px;
  outline: none;
}
/*---------------------------------Footer--------------------------*/
#Footer .misc {
  background-color: #f6f6f6;
}
#Footer .misc .container {
  padding-top: 72px;
  padding-bottom: 75px;
}
#Footer .col-left {
  font-weight: 700;
  color: #a8a8a8;
}
#Footer .col-left a {
  text-transform: capitalize;
  color: #a8a8a8;
}
#Footer .col-left div i {
  padding-right: 3px;
}
#Footer .col-left div i.fa-map-marker {
  display: inline-block;
  position: relative;
  top: -15px;
}
#Footer .col-left div.address a {
  display: inline-block;
}
#Footer .col-left #logo-gray {
  padding-bottom: 30px;
  width: 112px;
}
#Footer .col-left p {
  padding-bottom: 30px;
}
#Footer .col-left .address {
  padding-bottom: 30px;
}
#Footer .col-center .col-inner > a {
  text-transform: capitalize;
  cursor: pointer;
  padding-left: 5px;
  font-weight: 700;
  font-size: 18px;
  color: #575757;
}
#Footer .col-center .col-inner > a:hover {
  text-decoration: none;
}
#Footer .col-center .col-inner ul.collapse.in {
  padding-top: 27px;
}
#Footer .col-center .col-inner ul.collapsing {
  padding-top: 27px;
}
#Footer .col-center .col-inner li a {
  color: #929292;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  display: block;
}
#Footer .col-right .sign-up {
  text-align: right;
}
#Footer .col-right .sign-up > li {
  padding-bottom: 30px;
  font-weight: 700;
}
#Footer .col-right .sign-up li.title {
  font-size: 18px;
  color: #575757;
  padding-bottom: 30px;
}
#Footer .col-right .sign-up li.email {
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 30px;
}
#Footer .col-right .sign-up li i.fa-angle-right {
  position: absolute;
  right: 10%;
  bottom: 50%;
  transform: translateY(50%);
  font-size: 16px;
  cursor: pointer;
}
#Footer .col-right .sign-up li.bold {
  padding-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #494949;
}
#Footer .col-right .sign-up ul.social {
  float: right;
}
#Footer .col-right .sign-up ul.social li {
  float: left;
}
#Footer .col-right .sign-up ul.social li a {
  padding-left: 10px;
  font-size: 16px;
  color: #494949;
}
#Footer .col-right .sign-up input {
  padding: 10px 0px;
  padding-left: 20px;
  background-color: #f6f6f6;
  border-radius: 23px;
  width: 100%;
  border: 1px solid #868686;
}
#Footer .col-right .sign-up input:focus {
  outline: none;
  border: 1px solid #66afe9;
}
#Footer .copy-right .container {
  padding-top: 40px;
  padding-bottom: 95px;
}
#Footer .copy-right .col-xs-6 p {
  font-weight: 700;
}
#Footer .copy-right .col-xs-6 a {
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  transition: all 0.3s linear;
}
#Footer .copy-right .col-xs-6 a:hover {
  color: red;
}
#Footer .copy-right .col-xs-6 .pay-method {
  float: right;
  width: 117px;
}
#Footer .copy-right .col-xs-6 .pay-method img {
  position: relative;
  bottom: 3px;
}
/*--------------------------------------------------------RWD-------------------------------------------------------*/
@media screen and (max-width: 991px) {
  #Footer .row .col-x {
    text-align: center;
  }
  #Footer .row > .col-left {
    float: none;
  }
  #Footer .row > .col-left i.fa-map-marker {
    top: -20px;
  }
  #Footer .row > .col-left #logo-gray {
    margin: 0 auto;
  }
  #Footer .row > .col-center {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #Footer .row > .col-center .col-inner {
    padding-bottom: 20px;
  }
  #Footer .row > .col-right li {
    position: relative;
    text-align: center;
  }
  #Footer .row > .col-right li input {
    width: 50%;
  }
  #Footer .row > .col-right li i.fa-angle-right {
    right: 30%;
  }
  #Footer .row > .col-right li.social {
    width: 153px;
    display: block;
    margin: 0 auto;
  }
  #Footer .row > .col-right li.social ul.social {
    float: none;
  }
  #Footer .row > .col-right li.social ul.social a {
    padding: 0px 10px 0px 0px;
  }
}
<<<<<<< HEAD
@media screen and (max-width: 1229px) {
=======
@media screen and (max-width: 1199px) {
>>>>>>> 782c72d1f709e38cff83163c86a060f76264f94e
  div#nav1 {
    text-align: center;
  }
  .navbar-default {
    font-family: Montserrat, sans-serif;
  }
  .navbar-default .navbar-nav > li .twicks {
    position: relative;
    bottom: 5px;
  }
  .navbar-default .navbar-nav > li > a div.count {
    bottom: 2px;
    right: 3px;
  }
  .navbar-default .navbar-text {
    padding-top: 43.5px;
  }
  .navbar-default ul.nav.navbar-nav.navbar-right {
    padding-bottom: 36px;
  }
  .navbar-toggle {
    margin-right: 53px;
    padding: 10px 10px;
    margin-top: 41px;
  }
<<<<<<< HEAD
}
@media screen and (max-width: 767px) {
  a.navbar-brand {
    padding-left: 7px;
  }
  .navbar-toggle {
    margin-right: 7px;
  }
=======
>>>>>>> 782c72d1f709e38cff83163c86a060f76264f94e
}

/*# sourceMappingURL=about.css.map */