/*--------------------------------style.always-----------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  position: relative;
  color: #929292;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #929292;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
li {
  list-style-type: none;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
}
.col-12 {
  width: calc(100%);
}
.col-11 {
  width: calc(91.66666667%);
}
.col-10 {
  width: calc(83.33333333%);
}
.col-9 {
  width: calc(75%);
}
.col-8 {
  width: calc(66.66666667%);
}
.col-7 {
  width: calc(58.33333333%);
}
.col-6 {
  width: calc(50%);
}
.col-5 {
  width: calc(41.66666667%);
}
.col-4 {
  width: calc(33.33333333%);
}
.col-2 {
  width: calc(16.66666667%);
}
.col-1 {
  width: calc(8.33333333%);
}
.container {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}
/*--------------------------------style.customize-----------------------------------------*/
/*要動腦筋~~~圖片用bootstrap預設的都沒辦法怎麼辦?自己客製化微調就好啦<3*/
.col-md-7 {
  width: 65.85%;
}
.col-md-5 {
  width: 34.15%;
}
/*----------------------------Header------------------------------*/
#full-screen-cover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-brand {
  height: auto;
  padding: 44px 42px 50px 53px;
  line-height: normal;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  font-family: Montserrat, sans-serif;
}
.navbar-default .navbar-nav > li .dropdown-container {
  position: relative;
}
.navbar-default .navbar-nav > li .dropdown-container:hover .dropdown-content {
  display: block;
}
.navbar-default .navbar-nav > li .dropdown-container .dropdown-content {
  display: none;
  position: absolute;
  top: 33px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 3;
}
.navbar-default .navbar-nav > li .dropdown-container .dropdown-content a {
  display: block;
  border-bottom: 1px solid #000;
  padding: 15px;
  color: #929292;
  transition: all 0.3s ease;
  text-decoration: none;
}
.navbar-default .navbar-nav > li .dropdown-container .dropdown-content a:hover {
  color: #D6B161;
}
.navbar-default .navbar-nav > li#shopping-cart {
  position: relative;
  z-index: 3;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base {
  display: none;
  position: absolute;
  padding: 60px 0px 46px 0px;
  width: 381px;
  max-width: 381px;
  right: 0px;
  background-color: #fff;
  z-index: 3;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base:hover {
  display: block;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .triangle {
  position: absolute;
  top: -9px;
  right: 21px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #ffffff transparent;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content {
  width: 75%;
  margin: 0 auto;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure {
  margin-top: 16px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure:first-child {
  margin-top: 0px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .photo {
  display: inline-block;
  margin-right: 20px;
  width: 26%;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info {
  position: relative;
  bottom: 10px;
  display: inline-block;
  width: 65%;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .item-name {
  color: #959595;
  font-weight: bold;
  font-size: 12px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .price {
  margin-top: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #252528;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .price i.fa-eur {
  margin-right: 5px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .price i.fa-times {
  color: #f05c5c;
  float: right;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .amount {
  color: #959595;
  margin-top: 4px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .total-count .total-word {
  float: left;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .total-count .total-amount {
  color: #000;
  float: right;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .total-count .total-amount i {
  margin-right: 5px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .view-or-checkout a {
  text-align: center;
  font-family: Montserrat, sans-serif;
  border: 1px solid #000;
  border-radius: 24px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .view-or-checkout a.view {
  padding: 10px 15px;
  width: 127px;
  max-width: 127px;
  float: left;
  color: #000;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .view-or-checkout a.checkout {
  padding: 10px 15px;
  width: 140px;
  max-width: 140px;
  float: right;
  background-color: #000;
  color: white;
}
.navbar-default .navbar-nav > li .twicks {
  position: relative;
  bottom: 5px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default div.dropdown-container {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 15px;
  color: black;
  transition: color 0.3s ease;
  cursor: pointer;
}
.navbar-default .navbar-nav > li > a:active,
.navbar-default div.dropdown-container:active {
  color: #D6B161;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default div.dropdown-container:hover {
  color: #D6B161;
}
.navbar-default .navbar-nav > li > a [class^="icon-"]:before,
.navbar-default div.dropdown-container [class^="icon-"]:before,
.navbar-default .navbar-nav > li > a [class*=" icon-"]:before,
.navbar-default div.dropdown-container [class*=" icon-"]:before {
  margin: 0;
}
.navbar-default .navbar-nav > li > a div.count,
.navbar-default div.dropdown-container div.count {
  background-color: black;
  position: absolute;
  bottom: 6px;
  right: 3px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  color: white;
  transition: background-color 0.2s linear;
}
.navbar-default .navbar-nav > li > a div.count:hover,
.navbar-default div.dropdown-container div.count:hover {
  background: #D6B161;
}
.navbar-default .navbar-text {
  margin: 0;
  padding-top: 53px;
  color: black;
}
ul.nav.navbar-nav.navbar-right {
  padding-top: 38px;
}
/*--------------------------------nav-bar's RWD-------------------------------------*/
@media screen and (max-width: 1229px) {
  div#nav1 {
    text-align: center;
  }
  .navbar-default {
    font-family: Montserrat, sans-serif;
  }
  .navbar-default .navbar-nav > li .twicks {
    position: relative;
    bottom: 5px;
  }
  .navbar-default .navbar-nav > li .dropdown-container .dropdown-content {
    top: 17px;
    right: -80px;
    z-index: 4;
  }
  .navbar-default .navbar-nav > li:nth-child(3) .dropdown-container .dropdown-content {
    top: 40px;
    right: -106px;
    z-index: 4;
  }
  .navbar-default .navbar-toggle {
    border: 0;
  }
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #D6B161;
  }
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
    transition: all 0.2s ease;
  }
  .navbar-default .navbar-nav > li > a div.count {
    bottom: 2px;
    right: 3px;
  }
  .navbar-default .navbar-text {
    padding-top: 43.5px;
  }
  .navbar-default ul.nav.navbar-nav.navbar-right {
    padding-bottom: 36px;
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base {
    padding-bottom: 31px;
    width: 50%;
    min-width: 320px;
    max-width: 381px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%);
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content {
    width: 75%;
    margin: 0 auto;
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info {
    text-align: left;
  }
  .navbar-default .navbar-nav > li#shopping-cart .triangle {
    display: none;
  }
  .navbar-default .navbar-nav > li > a {
    display: inline-block;
    color: black;
    transition: color 0.3s ease;
  }
  .navbar-default .navbar-nav > li > a:active {
    color: #D6B161;
  }
  .navbar-default .navbar-nav > li > a:hover {
    color: #D6B161;
  }
  .navbar-default .navbar-nav > li > a [class^="icon-"]:before,
  .navbar-default .navbar-nav > li > a [class*=" icon-"]:before {
    margin: 0;
  }
  .navbar-default .navbar-nav > li > a div.count {
    background-color: black;
    position: absolute;
    bottom: 6px;
    right: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 8px;
    font-weight: 400;
    color: white;
    transition: background-color 0.2s linear;
  }
  .navbar-default .navbar-nav > li > a div.count:hover {
    background: #D6B161;
  }
  .navbar-default .navbar-text {
    margin: 0;
    padding-top: 53px;
    color: black;
  }
  .navbar-toggle {
    margin-right: 53px;
    padding: 10px 10px;
    margin-top: 41px;
  }
}
@media screen and (max-width: 767px) {
  a.navbar-brand {
    padding-left: 7px;
  }
  .navbar-toggle {
    margin-right: 7px;
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base {
    padding-bottom: 14px;
    width: 100%;
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content {
    width: 87%;
    margin: 0 auto;
  }
  .navbar-default .navbar-nav > li > a {
    display: inline-block;
    color: black;
    transition: color 0.3s ease;
  }
  .navbar-default .navbar-nav > li > a:active {
    color: #D6B161;
  }
  .navbar-default .navbar-nav > li > a:hover {
    color: #D6B161;
  }
  .navbar-default .navbar-nav > li > a [class^="icon-"]:before,
  .navbar-default .navbar-nav > li > a [class*=" icon-"]:before {
    margin: 0;
  }
  .navbar-default .navbar-nav > li > a div.count {
    background-color: black;
    position: absolute;
    bottom: 6px;
    right: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 8px;
    font-weight: 400;
    color: white;
    transition: background-color 0.2s linear;
  }
  .navbar-default .navbar-nav > li > a div.count:hover {
    background: #D6B161;
  }
  .navbar-default .navbar-text {
    margin: 0;
    padding-top: 53px;
    color: black;
  }
}
.blog-list-sidebar2 {
  background: #f4f4f4;
  padding: 72px 0px 60px 0px;
  text-align: center;
}
.blog-list-sidebar2 h1 {
  color: #494949;
  font-family: Montserrat, sans-serif;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}
.blog-list-sidebar2 p {
  padding-top: 18px;
  text-transform: capitalize;
  font-size: 14px;
  color: #494949;
}
.blog-list-sidebar2 form {
  position: relative;
  bottom: -60px;
  left: 0;
  text-align: left;
}
.blog-list-sidebar2 form label {
  cursor: pointer;
}
.blog-list-sidebar2 form label:active ~ input {
  opacity: 1;
}
.blog-list-sidebar2 form label:hover ~ input {
  opacity: 1;
}
.blog-list-sidebar2 form label i {
  padding-left: 3px;
}
.blog-list-sidebar2 form input {
  opacity: 0;
  transition: all 0.3s linear;
}
.blog-list-sidebar2 form input:focus {
  opacity: 1;
}
/*----------------------------------Content-----------------------*/
#Content {
  margin-top: 51px;
}
#Content .blog-contents .blog-content .date-and-month {
  background-color: #919191;
  display: inline-block;
  text-align: center;
  color: white;
  width: 78px;
  padding: 11.5px 0px;
}
#Content .blog-contents .blog-content .date-and-month .date {
  font-size: 30px;
  font-weight: bold;
}
#Content .blog-contents .blog-content .date-and-month .month {
  font-size: 20px;
}
#Content .blog-contents .blog-content .informations {
  position: relative;
}
#Content .blog-contents .blog-content .informations .date-and-month {
  float: left;
}
#Content .blog-contents .blog-content .informations .summary {
  float: left;
  margin-top: 41px;
  margin-left: 38px;
  max-width: 643px;
}
#Content .blog-contents .blog-content .informations .summary .title {
  font-size: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #494949;
}
#Content .blog-contents .blog-content .informations .summary ul {
  margin-top: 24px;
}
#Content .blog-contents .blog-content .informations .summary ul li {
  display: inline-block;
  font-style: italic;
  margin-right: 40px;
}
#Content .blog-contents .blog-content .informations .summary ul li i {
  margin-right: 4px;
}
#Content .blog-contents .blog-content .informations .summary p {
  margin-top: 35px;
  color: #494949;
  line-height: 2em;
}
#Content .blog-contents .blog-content .informations .summary a.read {
  margin-top: 39px;
  margin-bottom: 78px;
  font-weight: bold;
  color: #494949;
  display: block;
}
#Content .blog-contents nav .pager li > a {
  color: black;
  font-size: 17px;
  display: inline-block;
  padding: 5px 14px;
  border: 2px solid #000;
  font-weight: 700;
  border-radius: 0px;
}
#Content .blog-contents nav .pager li > a i.fa-angle-left {
  margin-right: 5px;
}
#Content .blog-contents nav .pager li > a i.fa-angle-right {
  margin-left: 5px;
}
#Content .sidebars .sidebar .title {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color: #737373;
  font-family: Montserrat, sans-serif;
}
#Content .sidebars .sidebar hr {
  margin: 7px 0px;
  margin-bottom: 0px;
  margin-left: 303px;
  border: 0;
  border-top: 2px solid #494949;
}
#Content .sidebars .sidebar hr.longer {
  margin-left: 280px;
}
#Content .sidebars .sidebar hr.shorter {
  margin-left: 348px;
}
#Content .sidebars .sidebar ul {
  margin-top: 29px;
  margin-bottom: 77px;
  line-height: 1.42857143;
}
#Content .sidebars .sidebar .intro {
  display: inline-block;
  width: 75%;
  margin-right: 15px;
}
#Content .sidebars .sidebar .photo {
  display: inline-block;
  position: relative;
  margin-top: 6px;
  width: 17%;
  top: 7px;
}
#Content .sidebars .sidebar.tag a {
  display: block;
  margin-top: 29px;
  color: #929292;
  text-transform: lowercase;
}
/*---------------------------------Footer--------------------------*/
#Footer .misc {
  background-color: #f6f6f6;
}
#Footer .misc .container {
  padding-top: 82px;
}
#Footer .col-left .col-inner > a {
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  color: #575757;
}
#Footer .col-left .col-inner > a:hover {
  text-decoration: none;
}
#Footer .col-left .col-inner ul.collapse.in {
  padding-left: 2px;
  padding-top: 20px;
}
#Footer .col-left .col-inner ul.collapsing {
  padding-left: 2px;
  padding-top: 20px;
}
#Footer .col-left .col-inner li a {
  color: #929292;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  display: block;
}
#Footer .col-right {
  font-weight: 700;
  color: #a8a8a8;
}
#Footer .col-right a {
  text-transform: capitalize;
  color: #a8a8a8;
}
#Footer .col-right div i {
  padding-right: 3px;
}
#Footer .col-right div i.fa-map-marker {
  display: inline-block;
  position: relative;
}
#Footer .col-right #logo-gray {
  margin-top: 11px;
  width: 112px;
}
#Footer .col-right .contact_info {
  margin-top: 58px;
  line-height: 1.9rem;
}
#Footer .col-right .contact_info a {
  display: inline-block;
}
#Footer .copy-right {
  padding-top: 76px;
  padding-bottom: 117px;
  background-color: #f6f6f6;
}
#Footer .copy-right p {
  font-weight: 700;
  width: 245px;
  margin: 0 auto;
  margin-top: 5px;
}
#Footer .copy-right p a {
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  transition: all 0.3s linear;
}
#Footer .copy-right p a:hover {
  color: red;
}
#Footer .copy-right .pay-method {
  margin: 0 auto;
  width: 117px;
}
#Footer .copy-right .pay-method img {
  position: relative;
  bottom: 3px;
}
/*--------------------------------------------------------RWD-------------------------------------------------------*/
@media screen and (max-width: 1229px) {
  #Content .blog-contents .blog-content .informations .summary {
    float: none;
    margin-left: 118px;
  }
  #Content .sidebars .sidebar .intro {
    margin-right: 0px;
  }
  #Content .sidebars .sidebar hr {
    margin-left: 221px;
  }
  #Content .sidebars .sidebar hr.longer {
    margin-left: 220px;
  }
  #Content .sidebars .sidebar hr.shorter {
    margin-left: 266px;
  }
}
@media screen and (max-width: 991px) {
  .col-md-7 {
    width: 100%;
  }
  #Footer .row * {
    float: none!important;
  }
  #Footer .row .col-x {
    text-align: center;
  }
  #Footer .row > .col-right {
    float: none;
  }
  #Footer .row > .col-right #logo-gray {
    width: 112px;
    margin: 0 auto;
  }
  #Footer .row > .col-left {
    padding-bottom: 30px;
  }
  #Footer .row > .col-left .col-inner {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  #Content .blog-contents .blog-content .informations .date-and-month {
    float: none;
    display: block;
    margin: 0 auto;
    margin-top: 41px;
  }
  #Content .blog-contents .blog-content .informations .summary {
    float: none;
    margin-left: 0px;
  }
  #Content .sidebars .sidebar .intro {
    margin-right: 0px;
  }
  #Content .sidebars .sidebar hr {
    margin-left: 221px;
  }
  #Content .sidebars .sidebar hr.longer {
    margin-left: 220px;
  }
  #Content .sidebars .sidebar hr.shorter {
    margin-left: 266px;
  }
}

/*# sourceMappingURL=blog_sidebar.css.map */