/*--------------------------------style.always-----------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  position: relative;
  color: #929292;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #929292;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
li {
  list-style-type: none;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
}
.col-12 {
  width: calc(100%);
}
.col-11 {
  width: calc(91.66666667%);
}
.col-10 {
  width: calc(83.33333333%);
}
.col-9 {
  width: calc(75%);
}
.col-8 {
  width: calc(66.66666667%);
}
.col-7 {
  width: calc(58.33333333%);
}
.col-6 {
  width: calc(50%);
}
.col-5 {
  width: calc(41.66666667%);
}
.col-4 {
  width: calc(33.33333333%);
}
.col-2 {
  width: calc(16.66666667%);
}
.col-1 {
  width: calc(8.33333333%);
}
.container {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}
/*--------------------------------style.customize-----------------------------------------*/
/*----------------------------Header------------------------------*/
#full-screen-cover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-brand {
  height: auto;
  padding: 44px 42px 50px 53px;
  line-height: normal;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  font-family: Montserrat, sans-serif;
}
.navbar-default .navbar-nav > li .dropdown-container {
  position: relative;
}
.navbar-default .navbar-nav > li .dropdown-container:hover .dropdown-content {
  display: block;
}
.navbar-default .navbar-nav > li .dropdown-container .dropdown-content {
  display: none;
  position: absolute;
  top: 33px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 3;
}
.navbar-default .navbar-nav > li .dropdown-container .dropdown-content a {
  display: block;
  border-bottom: 1px solid #000;
  padding: 15px;
  color: #929292;
  transition: all 0.3s ease;
  text-decoration: none;
}
.navbar-default .navbar-nav > li .dropdown-container .dropdown-content a:hover {
  color: #D6B161;
}
.navbar-default .navbar-nav > li#shopping-cart {
  position: relative;
  z-index: 3;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base {
  display: none;
  position: absolute;
  padding: 60px 0px 46px 0px;
  width: 381px;
  max-width: 381px;
  right: 0px;
  background-color: #fff;
  z-index: 3;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base:hover {
  display: block;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .triangle {
  position: absolute;
  top: -9px;
  right: 21px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  border-color: transparent transparent #ffffff transparent;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content {
  width: 75%;
  margin: 0 auto;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure {
  margin-top: 16px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure:first-child {
  margin-top: 0px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .photo {
  display: inline-block;
  margin-right: 20px;
  width: 26%;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info {
  position: relative;
  bottom: 10px;
  display: inline-block;
  width: 65%;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .item-name {
  color: #959595;
  font-weight: bold;
  font-size: 12px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .price {
  margin-top: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #252528;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .price i.fa-eur {
  margin-right: 5px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .price i.fa-times {
  color: #f05c5c;
  float: right;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info .amount {
  color: #959595;
  margin-top: 4px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .total-count .total-word {
  float: left;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .total-count .total-amount {
  color: #000;
  float: right;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .total-count .total-amount i {
  margin-right: 5px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .view-or-checkout a {
  text-align: center;
  font-family: Montserrat, sans-serif;
  border: 1px solid #000;
  border-radius: 24px;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .view-or-checkout a.view {
  padding: 10px 15px;
  width: 127px;
  max-width: 127px;
  float: left;
  color: #000;
}
.navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .view-or-checkout a.checkout {
  padding: 10px 15px;
  width: 140px;
  max-width: 140px;
  float: right;
  background-color: #000;
  color: white;
}
.navbar-default .navbar-nav > li .twicks {
  position: relative;
  bottom: 5px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default div.dropdown-container {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 15px;
  color: black;
  transition: color 0.3s ease;
  cursor: pointer;
}
.navbar-default .navbar-nav > li > a:active,
.navbar-default div.dropdown-container:active {
  color: #D6B161;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default div.dropdown-container:hover {
  color: #D6B161;
}
.navbar-default .navbar-nav > li > a [class^="icon-"]:before,
.navbar-default div.dropdown-container [class^="icon-"]:before,
.navbar-default .navbar-nav > li > a [class*=" icon-"]:before,
.navbar-default div.dropdown-container [class*=" icon-"]:before {
  margin: 0;
}
.navbar-default .navbar-nav > li > a div.count,
.navbar-default div.dropdown-container div.count {
  background-color: black;
  position: absolute;
  bottom: 6px;
  right: 3px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  color: white;
  transition: background-color 0.2s linear;
}
.navbar-default .navbar-nav > li > a div.count:hover,
.navbar-default div.dropdown-container div.count:hover {
  background: #D6B161;
}
.navbar-default .navbar-text {
  margin: 0;
  padding-top: 53px;
  color: black;
}
ul.nav.navbar-nav.navbar-right {
  padding-top: 38px;
}
/*--------------------------------nav-bar's RWD-------------------------------------*/
@media screen and (max-width: 1229px) {
  div#nav1 {
    text-align: center;
  }
  .navbar-default {
    font-family: Montserrat, sans-serif;
  }
  .navbar-default .navbar-nav > li .twicks {
    position: relative;
    bottom: 5px;
  }
  .navbar-default .navbar-nav > li .dropdown-container .dropdown-content {
    top: 17px;
    right: -80px;
    z-index: 4;
  }
  .navbar-default .navbar-nav > li:nth-child(3) .dropdown-container .dropdown-content {
    top: 40px;
    right: -106px;
    z-index: 4;
  }
  .navbar-default .navbar-toggle {
    border: 0;
  }
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #D6B161;
  }
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
    transition: all 0.2s ease;
  }
  .navbar-default .navbar-nav > li > a div.count {
    bottom: 2px;
    right: 3px;
  }
  .navbar-default .navbar-text {
    padding-top: 43.5px;
  }
  .navbar-default ul.nav.navbar-nav.navbar-right {
    padding-bottom: 36px;
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base {
    padding-bottom: 31px;
    width: 50%;
    min-width: 320px;
    max-width: 381px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%);
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content {
    width: 75%;
    margin: 0 auto;
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content .treasure .info {
    text-align: left;
  }
  .navbar-default .navbar-nav > li#shopping-cart .triangle {
    display: none;
  }
  .navbar-default .navbar-nav > li > a {
    display: inline-block;
    color: black;
    transition: color 0.3s ease;
  }
  .navbar-default .navbar-nav > li > a:active {
    color: #D6B161;
  }
  .navbar-default .navbar-nav > li > a:hover {
    color: #D6B161;
  }
  .navbar-default .navbar-nav > li > a [class^="icon-"]:before,
  .navbar-default .navbar-nav > li > a [class*=" icon-"]:before {
    margin: 0;
  }
  .navbar-default .navbar-nav > li > a div.count {
    background-color: black;
    position: absolute;
    bottom: 6px;
    right: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 8px;
    font-weight: 400;
    color: white;
    transition: background-color 0.2s linear;
  }
  .navbar-default .navbar-nav > li > a div.count:hover {
    background: #D6B161;
  }
  .navbar-default .navbar-text {
    margin: 0;
    padding-top: 53px;
    color: black;
  }
  .navbar-toggle {
    margin-right: 53px;
    padding: 10px 10px;
    margin-top: 41px;
  }
}
@media screen and (max-width: 767px) {
  a.navbar-brand {
    padding-left: 7px;
  }
  .navbar-toggle {
    margin-right: 7px;
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base {
    padding-bottom: 14px;
    width: 100%;
  }
  .navbar-default .navbar-nav > li#shopping-cart .shopping-content-base .shopping-content {
    width: 87%;
    margin: 0 auto;
  }
  .navbar-default .navbar-nav > li > a {
    display: inline-block;
    color: black;
    transition: color 0.3s ease;
  }
  .navbar-default .navbar-nav > li > a:active {
    color: #D6B161;
  }
  .navbar-default .navbar-nav > li > a:hover {
    color: #D6B161;
  }
  .navbar-default .navbar-nav > li > a [class^="icon-"]:before,
  .navbar-default .navbar-nav > li > a [class*=" icon-"]:before {
    margin: 0;
  }
  .navbar-default .navbar-nav > li > a div.count {
    background-color: black;
    position: absolute;
    bottom: 6px;
    right: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 8px;
    font-weight: 400;
    color: white;
    transition: background-color 0.2s linear;
  }
  .navbar-default .navbar-nav > li > a div.count:hover {
    background: #D6B161;
  }
  .navbar-default .navbar-text {
    margin: 0;
    padding-top: 53px;
    color: black;
  }
}
.blog-title1 {
  background: #f4f4f4;
  padding: 72px 0px 60px 0px;
  text-align: center;
}
.blog-title1 h1 {
  color: #494949;
  font-family: Montserrat, sans-serif;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}
.blog-title1 p {
  padding-top: 18px;
  text-transform: capitalize;
  font-size: 14px;
  color: #494949;
}
.blog-title2 {
  background-color: #eeeeee;
}
.blog-title2 .col-sm-4 {
  height: 45px;
  line-height: 45px;
}
.blog-title2 .col-sm-4 form {
  display: inline-block;
}
.blog-title2 .col-sm-4 form * {
  display: inline-block;
}
.blog-title2 .col-sm-4 form .form-group {
  margin-bottom: 0px;
}
.blog-title2 .col-sm-4 form .form-control {
  padding: 6px 0px;
}
.blog-title2 .col-sm-4 form label {
  margin-bottom: 0px;
  cursor: pointer;
}
.blog-title2 .col-sm-4 form label:active ~ input {
  opacity: 1;
}
.blog-title2 .col-sm-4 form label:hover ~ input {
  opacity: 1;
}
.blog-title2 .col-sm-4 form label i {
  padding-left: 3px;
}
.blog-title2 .col-sm-4 form input {
  display: inline-block;
  opacity: 0;
  width: 0;
  transition: all 0.3s linear;
}
.blog-title2 .col-sm-4 form input:focus {
  opacity: 1;
  width: 65%;
  padding-right: 0px;
  margin-right: 0px;
}
.blog-title2 .col-sm-4 form p {
  display: inline-block;
  margin-left: 30px;
}
.blog-title2 .col-sm-4 form p a {
  margin-left: 13px;
  color: #929292;
}
.blog-title2 .col-sm-4.text-left a {
  margin-right: 10px;
}
.blog-title2 .col-sm-4.text-left i {
  margin-right: 10px;
}
/*----------------------------------Content-----------------------*/
#Content {
  margin-top: 48px;
}
#Content .main-picture {
  position: relative;
}
#Content .main-picture .date-and-month {
  position: absolute;
  top: 53px;
  left: 56px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  color: #737373;
  width: 78px;
  padding: 11.5px 0px;
}
#Content .main-picture .date-and-month .date {
  font-size: 30px;
  font-weight: bold;
}
#Content .main-picture .date-and-month .month {
  font-size: 20px;
}
#Content .main-picture .share {
  position: absolute;
  top: 53px;
  right: 56px;
  font-size: 16px;
}
#Content .main-picture .share a {
  margin-left: 17px;
  color: rgba(0, 0, 0, 0.5);
}
#Content .container.inner {
  padding-top: 56px;
  max-width: 1100px;
  background-color: #fff;
  position: relative;
  top: -56px;
}
#Content .container.inner .summary {
  padding: 0px 84px 0px 58px;
}
#Content .container.inner .summary .title {
  font-size: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #494949;
}
#Content .container.inner .summary ul {
  margin-top: 24px;
}
#Content .container.inner .summary ul li {
  display: inline-block;
  font-style: italic;
  margin-right: 40px;
}
#Content .container.inner .summary ul li i {
  margin-right: 4px;
}
#Content .container.inner .summary p {
  margin-top: 35px;
  color: #494949;
  line-height: 2em;
}
#Content .container.inner .pictures {
  max-width: 882px;
  margin-top: 62px;
}
#Content .container.inner .pictures .n2 {
  margin-top: 38px;
}
#Content .container.inner .middle {
  margin-top: 124px;
  line-height: 2em;
}
#Content .container.inner .author_and_comments {
  max-width: 866px;
  margin-top: 193px;
}
#Content .container.inner .author_and_comments .author {
  padding: 42px 47px;
  background-color: #f4f4f4;
}
#Content .container.inner .author_and_comments .author .photo {
  display: inline-block;
  margin-right: 37px;
  max-width: 18%;
}
#Content .container.inner .author_and_comments .author .info {
  position: relative;
  bottom: 11px;
  display: inline-block;
  max-width: 75%;
}
#Content .container.inner .author_and_comments .author .info * {
  margin-top: 10px;
}
#Content .container.inner .author_and_comments .author .info .name {
  font-size: 18px;
  color: #232323;
}
#Content .container.inner .author_and_comments .author .info .socials a {
  margin-left: 10px;
}
#Content .container.inner .author_and_comments .comments {
  margin-top: 130px;
}
#Content .container.inner .author_and_comments .comments .title {
  font-size: 22px;
  font-family: Montserrat, sans-serif;
  color: #737373;
}
#Content .container.inner .author_and_comments .comments hr.title {
  margin-top: 10px;
  margin-bottom: 0;
  border: 0;
  border-top: 2px solid #737373;
  margin-right: 91%;
}
#Content .container.inner .author_and_comments .comments .commentatories {
  margin-top: 50px;
}
#Content .container.inner .author_and_comments .comments .commentatories .photo {
  float: left;
  margin: 0px 20px;
  width: 65px;
  height: 65px;
}
#Content .container.inner .author_and_comments .comments .commentatories .comment_info {
  display: inline-block;
  max-width: 757px;
}
#Content .container.inner .author_and_comments .comments .commentatories .comment_info .name {
  color: #737373;
  font-weight: bold;
}
#Content .container.inner .author_and_comments .comments .commentatories .comment_info .date {
  font-size: 11px;
  font-style: italic;
}
#Content .container.inner .author_and_comments .comments .commentatories .comment_info p {
  margin-top: 24px;
}
#Content .container.inner .author_and_comments .comments .commentatories .comment_info hr {
  margin-top: 43px;
  margin-bottom: 56px;
}
#Content .container.inner .author_and_comments .comments .commentatories .comment_info .commentator.inner .comment_info {
  max-width: 652px;
}
#Content .container.inner .author_and_comments form {
  margin-top: 164px;
}
#Content .container.inner .author_and_comments form .title {
  font-size: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #494949;
  margin-bottom: 46px;
}
#Content .container.inner .author_and_comments form textarea.form-control {
  height: 108px;
}
#Content .container.inner .author_and_comments form [type="submit"].form-control {
  width: 92px;
  height: 47px;
}
#Content .container.inner .author_and_comments form [type="email"] {
  margin: 0px 13px;
}
#Content .container.inner .author_and_comments form .form-control {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  height: 34px;
  background-color: #f7f7f7;
  border: 1px solid transparent;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#Content .container.inner .author_and_comments form .form-control:focus {
  border: 1px solid #D6B161;
  box-shadow: inset 0 1px 1px rgba(136, 111, 61, 0.075);
}
#Content .container.inner .author_and_comments form .form-control.inline {
  display: inline-block;
  max-width: 32%;
  height: 47px;
}
/*---------------------------------Footer--------------------------*/
#Footer {
  margin-top: 152px;
}
#Footer .misc {
  background-color: #f6f6f6;
}
#Footer .misc .container {
  padding-top: 82px;
}
#Footer .col-left .col-inner > a {
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  color: #575757;
}
#Footer .col-left .col-inner > a:hover {
  text-decoration: none;
}
#Footer .col-left .col-inner ul.collapse.in {
  padding-left: 2px;
  padding-top: 20px;
}
#Footer .col-left .col-inner ul.collapsing {
  padding-left: 2px;
  padding-top: 20px;
}
#Footer .col-left .col-inner li a {
  color: #929292;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  display: block;
}
#Footer .col-right {
  font-weight: 700;
  color: #a8a8a8;
}
#Footer .col-right a {
  text-transform: capitalize;
  color: #a8a8a8;
}
#Footer .col-right div i {
  padding-right: 3px;
}
#Footer .col-right div i.fa-map-marker {
  display: inline-block;
  position: relative;
}
#Footer .col-right #logo-gray {
  margin-top: 11px;
  width: 112px;
}
#Footer .col-right .contact_info {
  margin-top: 58px;
  line-height: 1.9rem;
}
#Footer .col-right .contact_info a {
  display: inline-block;
}
#Footer .copy-right {
  padding-top: 76px;
  padding-bottom: 117px;
  background-color: #f6f6f6;
}
#Footer .copy-right p {
  font-weight: 700;
  width: 245px;
  margin: 0 auto;
  margin-top: 5px;
}
#Footer .copy-right p a {
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  transition: all 0.3s linear;
}
#Footer .copy-right p a:hover {
  color: red;
}
#Footer .copy-right .pay-method {
  margin: 0 auto;
  width: 117px;
}
#Footer .copy-right .pay-method img {
  position: relative;
  bottom: 3px;
}
/*--------------------------------------------------------RWD-------------------------------------------------------*/
@media screen and (max-width: 1229px) {
  .blog-title2 .col-sm-4 form {
    display: block;
  }
  .blog-title2 .col-sm-4 form input:focus {
    width: 63%;
  }
  .blog-title2 .col-sm-4 form .form-group {
    width: 67%;
    float: left;
    text-align: left;
  }
  .blog-title2 .col-sm-4 form p {
    margin-left: 0px;
    float: right;
  }
  #Content .container.inner {
    max-width: 880px;
  }
  #Content .container.inner .author_and_comments .comments .commentatories .photo {
    margin: 0px 0px;
    margin-right: 22px;
  }
}
@media screen and (max-width: 991px) {
  .blog-title2 .col-sm-4 form {
    display: block;
  }
  .blog-title2 .col-sm-4 form input:focus {
    width: 41%;
  }
  .blog-title2 .col-sm-4 form .form-group {
    width: 56%;
    float: left;
    text-align: left;
  }
  .blog-title2 .col-sm-4 form p {
    margin-left: 0px;
    float: right;
  }
  #Content .container.inner {
    padding-top: 56px;
    max-width: 100%;
    position: static;
    top: none;
  }
  #Content .container.inner .author_and_comments .author .photo {
    position: relative;
    bottom: 28px;
  }
  #Content .container.inner .author_and_comments .comments .commentatories .photo {
    margin: 0px 0px;
    margin-right: 5px;
  }
  #Content .container.inner .author_and_comments form [type="submit"].form-control {
    width: 92px;
    height: 47px;
  }
  #Content .container.inner .author_and_comments form [type="email"] {
    margin: 0px 0px;
    margin-bottom: 16px;
  }
  #Content .container.inner .author_and_comments form .form-control.inline {
    display: block;
    max-width: 70%;
  }
  #Footer .row * {
    float: none!important;
  }
  #Footer .row .col-x {
    text-align: center;
  }
  #Footer .row > .col-right {
    float: none;
  }
  #Footer .row > .col-right #logo-gray {
    width: 112px;
    margin: 0 auto;
  }
  #Footer .row > .col-left {
    padding-bottom: 30px;
  }
  #Footer .row > .col-left .col-inner {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  #Header .blog-title2 .col-sm-4 {
    text-align: center;
  }
  #Header .blog-title2 .col-sm-4 form {
    display: block;
  }
  #Header .blog-title2 .col-sm-4 form input:focus {
    width: 65%;
  }
  #Header .blog-title2 .col-sm-4 form [type="search"] {
    display: inline-block;
  }
  #Header .blog-title2 .col-sm-4 form .form-group {
    float: left;
    text-align: left;
  }
  #Header .blog-title2 .col-sm-4 form p {
    margin-left: 0px;
    float: right;
  }
  #Content .main-picture .date-and-month {
    top: 17px;
    left: 17px;
  }
  #Content .main-picture .share {
    top: 17px;
    right: 17px;
  }
  #Content .container.inner .summary {
    padding: 0px 0px;
  }
  #Content .container.inner .pictures .center .n1 {
    margin-top: 38px;
  }
  #Content .container.inner .pictures .right .n1 {
    margin-top: 38px;
  }
  #Content .container.inner .author_and_comments .author .photo {
    position: static;
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }
  #Content .container.inner .author_and_comments .author .info {
    display: block;
    max-width: 100%;
  }
  #Content .container.inner .author_and_comments .author .info .name {
    margin-top: 25px;
  }
  #Content .container.inner .author_and_comments .comments .commentatories .photo {
    margin: 0px 0px;
    margin-right: 5px;
  }
  #Content .container.inner .author_and_comments form {
    margin-top: 58px;
  }
}

/*# sourceMappingURL=blog_post.css.map */