/*--------------------------------style.always-----------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  position: relative;
  color: #929292;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  text-transform: uppercase;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
li {
  list-style-type: none;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
}
.col-12 {
  width: calc(100%);
}
.col-11 {
  width: calc(91.66666667%);
}
.col-10 {
  width: calc(83.33333333%);
}
.col-9 {
  width: calc(75%);
}
.col-8 {
  width: calc(66.66666667%);
}
.col-7 {
  width: calc(58.33333333%);
}
.col-6 {
  width: calc(50%);
}
.col-5 {
  width: calc(41.66666667%);
}
.col-4 {
  width: calc(33.33333333%);
}
.col-2 {
  width: calc(16.66666667%);
}
.col-1 {
  width: calc(8.33333333%);
}
/*--------------------------------style.customize-----------------------------------------*/
.container {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}
/*---------------------------------about.css--------------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  position: relative;
  color: #929292;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
dl,
dt,
dd {
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.col-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
}
.col-5 {
  width: 41.666666666666667%;
  float: left;
  padding: 0 15px;
}
.col-4 {
  width: 33.333333%;
  float: left;
  padding: 0 15px;
}
.col-3 {
  width: calc(25%);
  float: left;
  padding: 0 15px;
}
.co-2 {
  width: calc(16.66666667%);
}
.row {
  margin: 0 -15px;
}
.col-2 {
  float: left;
  padding: 0 15px;
}
.col-12 {
  float: left;
  padding: 0 15px;
}
.container {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
.nav_container {
  max-width: 1980px;
  display: block;
  margin: 0 auto;
}
#cart-container {
  display: none;
}
.template {
  display: none;
}
/*----------------------------Header------------------------------*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-brand {
  height: auto;
  padding: 44px 42px 50px 53px;
  line-height: normal;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  font-family: Montserrat, sans-serif;
}
.navbar-default .navbar-nav > li .twicks {
  position: relative;
  bottom: 5px;
}
.navbar-default .navbar-nav > li > a {
  display: inline-block;
  color: black;
  transition: color 0.3s ease;
}
.navbar-default .navbar-nav > li > a:active {
  color: #D6B161;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #D6B161;
}
.navbar-default .navbar-nav > li > a [class^="icon-"]:before,
.navbar-default .navbar-nav > li > a [class*=" icon-"]:before {
  margin: 0;
}
.navbar-default .navbar-nav > li > a div.count {
  background-color: black;
  position: absolute;
  bottom: 6px;
  right: 3px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  color: white;
  transition: background-color 0.2s linear;
}
.navbar-default .navbar-nav > li > a div.count:hover {
  background: #D6B161;
}
.navbar-default .navbar-text {
  margin: 0;
  padding-top: 53px;
  color: black;
}
ul.nav.navbar-nav.navbar-right {
  padding-top: 38px;
}
.contact-us {
  background: #f4f4f4 url("https://picsum.photos/1600/1030/") 50% 50% no-repeat fixed;
  padding: 60px 0px 60px 0px;
  text-align: center;
}
.contact-us h1 {
  color: #494949;
  font-family: Montserrat, sans-serif;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}
.contact-us p {
  padding-top: 18px;
  text-transform: capitalize;
  font-size: 14px;
  color: #494949;
}
/*----------------------------------Content-----------------------*/
.infos {
  margin-top: 75px;
}
.infos .container.small {
  max-width: 1033px;
}
.infos .container.small .col-x:first-child h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #494949;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
}
.infos .container.small .col-x:first-child p {
  margin-top: 35px;
  color: #343434;
  font-size: 16px;
}
.infos .container.small .col-x:first-child .info {
  margin-top: 80px;
}
.infos .container.small .col-x:first-child .info .col-xs-4 .title {
  font-size: 16px;
  color: #303030;
  font-weight: 700;
}
.infos .container.small .col-x:first-child .info .col-xs-4 p {
  /*這玩意兒起碼讓我多花了兩小時在想為何跑版......學起來吧...*/
  word-wrap: break-word;
  margin-top: 20px;
  font-size: 14px;
}
.infos .container.small .col-x:nth-child(2) form {
  float: right;
}
.infos .container.small .col-x:nth-child(2) form .title {
  color: #343434;
  font-size: 16px;
  font-weight: bold;
}
.infos .container.small .col-x:nth-child(2) form .form-control {
  max-width: 352px;
  min-width: 320px;
  border-radius: 17px;
  border: 1px solid #c0c0c0;
  color: #c0c0c0;
  height: 40px;
  padding: 6px 18px;
}
.infos .container.small .col-x:nth-child(2) form .form-control:focus {
  outline: none;
  border: 1px solid #D6B161;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(214, 177, 97, 0.6);
}
.infos .container.small .col-x:nth-child(2) form .form-control:first-child {
  margin-top: 21px;
}
.infos .container.small .col-x:nth-child(2) form textarea.form-control {
  height: auto;
}
.infos .container.small .col-x:nth-child(2) form ::placeholder {
  color: black;
}
.infos .container.small .col-x:nth-child(2) form [type="submit"] {
  width: 73px;
  min-width: 0px;
  color: white;
  background-color: #383838;
  transition: all 0.3s ease;
}
.infos .container.small .col-x:nth-child(2) form [type="submit"]:hover {
  background-color: #D6B161;
}
.map {
  background-color: #f6f6f6;
  margin-top: 87px;
}
/*---------------------------------Footer--------------------------*/
#Footer .misc {
  background-color: #f6f6f6;
}
#Footer .misc .container {
  /*原本寫成padding:72px 0px 75px 0px;導致不小心把container內建
			的padding給覆蓋掉，然後就跑版了!fk~*/
  padding-top: 82px;
}
#Footer .col-left .col-inner > a {
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  color: #575757;
}
#Footer .col-left .col-inner > a:hover {
  text-decoration: none;
}
#Footer .col-left .col-inner ul.collapse.in {
  padding-left: 2px;
  padding-top: 20px;
}
#Footer .col-left .col-inner ul.collapsing {
  padding-left: 2px;
  padding-top: 20px;
}
#Footer .col-left .col-inner li a {
  color: #929292;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  display: block;
}
#Footer .col-right {
  font-weight: 700;
  color: #a8a8a8;
}
#Footer .col-right a {
  text-transform: capitalize;
  color: #a8a8a8;
}
#Footer .col-right div i {
  padding-right: 3px;
}
#Footer .col-right div i.fa-map-marker {
  display: inline-block;
  position: relative;
}
#Footer .col-right #logo-gray {
  margin-top: 11px;
  width: 112px;
}
#Footer .col-right .contact_info {
  margin-top: 58px;
  line-height: 1.9rem;
}
#Footer .col-right .contact_info a {
  display: inline-block;
}
#Footer .copy-right {
  padding-top: 76px;
  padding-bottom: 117px;
  background-color: #f6f6f6;
}
#Footer .copy-right p {
  font-weight: 700;
  width: 245px;
  margin: 0 auto;
  margin-top: 5px;
}
#Footer .copy-right p a {
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  transition: all 0.3s linear;
}
#Footer .copy-right p a:hover {
  color: red;
}
#Footer .copy-right .pay-method {
  margin: 0 auto;
  width: 117px;
}
#Footer .copy-right .pay-method img {
  position: relative;
  bottom: 3px;
}
/*--------------------------------------------------------RWD-------------------------------------------------------*/
@media screen and (max-width: 1229px) {
  div#nav1 {
    text-align: center;
  }
  .navbar-default {
    font-family: Montserrat, sans-serif;
  }
  .navbar-default .navbar-nav > li .twicks {
    position: relative;
    bottom: 5px;
  }
  .navbar-default .navbar-nav > li > a div.count {
    bottom: 2px;
    right: 3px;
  }
  .navbar-default .navbar-text {
    padding-top: 43.5px;
  }
  .navbar-default ul.nav.navbar-nav.navbar-right {
    padding-bottom: 36px;
  }
  .navbar-toggle {
    margin-right: 53px;
    padding: 10px 10px;
    margin-top: 41px;
  }
}
@media screen and (max-width: 991px) {
  #Content .infos .cleartest {
    clear: both;
  }
  #Content .infos .container.small .col-x:nth-child(2) {
    margin-top: 75px;
  }
  #Content .infos .container.small .col-x:nth-child(2) form {
    max-width: 352px;
    margin: 0 auto;
    float: none;
  }
  #Content .infos .container.small .col-x:nth-child(2) form .form-control {
    min-width: 0px;
  }
  #Footer .row {
    /*記住:after和:before是怎麼運作了...*/
  }
  #Footer .row * {
    float: none!important;
  }
  #Footer .row .col-x {
    text-align: center;
  }
  #Footer .row > .col-right {
    float: none;
  }
  #Footer .row > .col-right #logo-gray {
    width: 112px;
    margin: 0 auto;
  }
  #Footer .row > .col-left {
    padding-bottom: 30px;
  }
  #Footer .row > .col-left .col-inner {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  a.navbar-brand {
    padding-left: 7px;
  }
  .navbar-toggle {
    margin-right: 7px;
  }
}

/*# sourceMappingURL=contact.css.map */