/*--------------------------------style.always-----------------------------------------*/
* {
  box-sizing: border-box;
}
body {
  position: relative;
  color: #929292;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
}
.col-12 {
  width: calc(100%);
}
.col-11 {
  width: calc(91.66666667%);
}
.col-10 {
  width: calc(83.33333333%);
}
.col-9 {
  width: calc(75%);
}
.col-8 {
  width: calc(66.66666667%);
}
.col-7 {
  width: calc(58.33333333%);
}
.col-6 {
  width: calc(50%);
}
.col-5 {
  width: calc(41.66666667%);
}
.col-4 {
  width: calc(33.33333333%);
}
.col-2 {
  width: calc(16.66666667%);
}
.col-1 {
  width: calc(8.33333333%);
}
/*--------------------------------style.customize-----------------------------------------*/
.container {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
.row {
  margin: 0 -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
}
/*---------------------------------home.css--------------------------------------------*/
/* --------------------------------customize----------------------------------------- */
/* --------------------------------Header------------------------------------------- */
#Header_home {
  background-color: #282828;
}
#Header_home .contact {
  float: left;
  text-transform: lowercase;
}
#Header_home .lists {
  float: right;
}
#Header_home li {
  float: left;
  padding: 13px 17px;
  transition: background-color 0.2s ease;
}
#Header_home li:hover {
  background-color: #3f3e43;
}
#Header_home li:active {
  color: #D6B161;
}
#Header_home a {
  font-weight: bold;
  text-transform: capitalize;
  color: #a1a1a1;
}
#Header_home a:active {
  color: #D6B161;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-brand {
  height: auto;
  padding: 43px 0px 0px 0px;
  line-height: normal;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  font-family: Montserrat, sans-serif;
}
.navbar-default .navbar-nav > li {
  position: relative;
}
.navbar-default .navbar-nav > li.cart-info h5 {
  padding-bottom: 3px;
}
.navbar-default .navbar-nav > li.cart-info h6 {
  padding-top: 3px;
  font-size: 8px;
  font-weight: 700;
  text-transform: lowercase;
  font-family: "Source Sans Pro", sans-serif;
}
.navbar-default .navbar-nav > li .twicks {
  position: relative;
  bottom: 5px;
}
.navbar-default .navbar-nav > li > a {
  display: inline-block;
  color: black;
  transition: color 0.3s ease;
}
.navbar-default .navbar-nav > li > a:active {
  color: #D6B161;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #D6B161;
}
.navbar-default .navbar-nav > li > a [class^="icon-"]:before,
.navbar-default .navbar-nav > li > a [class*=" icon-"]:before {
  margin: 0;
}
.navbar-default .navbar-nav > li > a div.count {
  background-color: black;
  position: absolute;
  bottom: 6px;
  right: 3px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  color: white;
  transition: background-color 0.2s linear;
}
.navbar-default .navbar-nav > li > a div.count:hover {
  background: #D6B161;
}
.navbar-default .navbar-text {
  margin: 0;
  padding-top: 53px;
  color: black;
}
ul.nav.navbar-nav.navbar-right {
  padding-top: 38px;
}
/* -----------------------------------Content------------------------------------------- */
#Content .FDI_1 .row .col-5,
#Content .FDI_2 .row .col-5,
#Content .FDI_1 .row .col-6,
#Content .FDI_2 .row .col-6,
#Content .FDI_1 .row .col-7,
#Content .FDI_2 .row .col-7,
#Content .FDI_1 .row .col-12,
#Content .FDI_2 .row .col-12 {
  position: relative;
  padding: 0px;
}
#Content .FDI_1 .row > .col-5,
#Content .FDI_2 .row > .col-5,
#Content .FDI_1 .row > .col-6,
#Content .FDI_2 .row > .col-6,
#Content .FDI_1 .row > .col-7,
#Content .FDI_2 .row > .col-7,
#Content .FDI_1 .row > .col-12,
#Content .FDI_2 .row > .col-12 {
  padding: 0 10px;
}
#Content .FDI_1 .row .product_info,
#Content .FDI_2 .row .product_info {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
}
#Content .FDI_1 .row .product_info .title,
#Content .FDI_2 .row .product_info .title {
  display: inline-block;
  padding: 5px;
  background: #535353;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}
#Content .FDI_1 .row .product_info h1,
#Content .FDI_2 .row .product_info h1 {
  font-size: 70px;
  font-weight: 400 ;
}
#Content .FDI_1 .row .product_info span,
#Content .FDI_2 .row .product_info span {
  font-family: Montserrat, sans-serif;
}
#Content .FDI_1 .row .product_info p,
#Content .FDI_2 .row .product_info p {
  line-height: 1.5rem;
}
#Content .FDI_1 .row .product_info .price,
#Content .FDI_2 .row .product_info .price {
  padding-top: 25px;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
}
#Content .FDI_1 .row .product_info .rank li,
#Content .FDI_2 .row .product_info .rank li {
  float: left;
}
#Content .FDI_1 .row .product_2 .title,
#Content .FDI_2 .row .product_2 .title {
  background: none;
}
#Content .FDI_1 .row .product_2 h2,
#Content .FDI_2 .row .product_2 h2 {
  text-transform: capitalize;
}
#Content .FDI_1 .row .product_2 .circle,
#Content .FDI_2 .row .product_2 .circle {
  display: inline-block;
  border-radius: 50%;
  padding: 42px 0px;
  width: 129px;
  text-align: center;
  background-color: #62c5de;
}
#Content .FDI_1 .row .product_2 .circle .price-through,
#Content .FDI_2 .row .product_2 .circle .price-through {
  text-decoration: line-through;
  font-size: 16px;
}
#Content .FDI_1 .row .product_2 .circle .price-through span,
#Content .FDI_2 .row .product_2 .circle .price-through span {
  font-size: 8px;
}
#Content .FDI_1 .row .product_2 .circle .price,
#Content .FDI_2 .row .product_2 .circle .price {
  padding-top: 0px;
  font-size: 24px;
}
#Content .FDI_1 .row .product_2 .circle .price span,
#Content .FDI_2 .row .product_2 .circle .price span {
  font-size: 20px;
}
#Content .FDI_1 .row .product_2 .shopnow,
#Content .FDI_2 .row .product_2 .shopnow {
  float: left;
}
#Content .FDI_1 .row .product_2 .shopnow button,
#Content .FDI_2 .row .product_2 .shopnow button {
  border-radius: 50%;
  background: transparent;
  border: 1px solid white;
  color: white;
}
#Content .FDI_1 .row .product_2 .shopnow a,
#Content .FDI_2 .row .product_2 .shopnow a {
  color: white;
}
#Content .FDI_1 {
  padding-top: 35px;
}
#Content .FDI_2 {
  padding-top: 20px;
}
/* -----------------------------------Footer-------------------------------------------- */
#Footer .misc {
  background-color: #f6f6f6;
}
#Footer .misc .container {
  padding: 72px 0px 75px 0px;
}
#Footer .col-left {
  font-weight: 700;
  color: #a8a8a8;
}
#Footer .col-left a {
  text-transform: capitalize;
  color: #a8a8a8;
}
#Footer .col-left div i {
  padding-right: 3px;
}
#Footer .col-left div i.fa-map-marker {
  display: inline-block;
  position: relative;
  top: -15px;
}
#Footer .col-left div.address a {
  display: inline-block;
}
#Footer .col-left #logo-gray {
  padding-bottom: 30px;
  width: 112px;
}
#Footer .col-left p {
  padding-bottom: 30px;
}
#Footer .col-left .address {
  padding-bottom: 30px;
}
#Footer .col-center .col-inner > a {
  text-transform: capitalize;
  cursor: pointer;
  padding-left: 5px;
  font-weight: 700;
  font-size: 18px;
  color: #575757;
}
#Footer .col-center .col-inner > a:hover {
  text-decoration: none;
}
#Footer .col-center .col-inner ul.collapse.in {
  padding-top: 27px;
}
#Footer .col-center .col-inner ul.collapsing {
  padding-top: 27px;
}
#Footer .col-center .col-inner li a {
  color: #929292;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 700;
  display: block;
}
#Footer .col-right .sign-up {
  text-align: right;
}
#Footer .col-right .sign-up > li {
  padding-bottom: 30px;
  font-weight: 700;
}
#Footer .col-right .sign-up li.title {
  font-size: 18px;
  color: #575757;
  padding-bottom: 30px;
}
#Footer .col-right .sign-up li.email {
  float: right;
  position: relative;
  display: block;
  width: 255px;
}
#Footer .col-right .sign-up li.email [type='email'] {
  border-radius: 23px;
  /*   只要是input系列的元素，作出圓弧的效果，都會導致外觀看起來壞掉， 一定要對border進行設定，
					  才能矯正回正常的外觀*/
  border: 1px solid #fff;
  padding: 10px 0px;
  /*   讓placeholder的內容往右推，否則太靠邊*/
  padding-left: 10px;
  /*
					  1.因為padding推了10px，導致input email變長，所以要扣回 來，而這邊為什麼padding明明只往左推了10px，
					  width卻要減12px，是因為widh只減10px時，在focus的時候會凸出來，因此才多減一些。
					  2.css的function可以辨別兩種不同的unit，所以可以像下面這樣%、px混合，但要記得中間的空白要斷好，
					  否則瀏覽器會看無
					  3.用~''將calc(100% - 12px)包起來是因為我們現在是在用less寫，而less看不懂這個寫法，此外，
					  less也不能將unit混著寫，此時用~''跳脫出less，使之成為單純的css即可
					  */
  width: calc(100% - 12px);
  font-family: Montserrat, sans-serif;
  font-size: 8px;
  color: #696969;
}
#Footer .col-right .sign-up li.email [type='email']:focus {
  outline: none;
  border: 1px solid #D6B161;
}
#Footer .col-right .sign-up li.email [type="submit"] {
  /* 重疊input! */
  position: absolute;
  top: 0;
  right: 0;
  /* 一樣是為了讓input空間寬一點 */
  border-radius: 0 23px 23px 0;
  border: 1px solid  #696969;
  padding: 10px 10px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 8px;
  color: white;
  background-color: #696969;
  cursor: pointer;
  /* 點擊時產生效果即可 */
}
#Footer .col-right .sign-up li.email [type="submit"]:active {
  color: #D6B161;
}
#Footer .col-right .sign-up li.email [type="submit"]:focus {
  outline: none;
}
#Footer .col-right .sign-up li i.fa-angle-right {
  position: absolute;
  right: 10%;
  bottom: 50%;
  transform: translateY(50%);
  font-size: 16px;
  cursor: pointer;
}
#Footer .col-right .sign-up li.bold {
  padding-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #494949;
}
#Footer .col-right .sign-up ul.social {
  float: right;
}
#Footer .col-right .sign-up ul.social li {
  float: left;
}
#Footer .col-right .sign-up ul.social li a {
  padding-left: 10px;
  font-size: 16px;
  color: #494949;
}
#Footer .copy-right .container {
  padding: 40px 0px 95px 0px;
}
#Footer .copy-right .col-xs-6 p {
  font-weight: 700;
}
#Footer .copy-right .col-xs-6 a {
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  transition: all 0.3s linear;
}
#Footer .copy-right .col-xs-6 a:hover {
  color: red;
}
#Footer .copy-right .col-xs-6 .pay-method {
  float: right;
  width: 117px;
}
#Footer .copy-right .col-xs-6 .pay-method img {
  position: relative;
  bottom: 3px;
}
/*--------------------------------------------------------RWD-------------------------------------------------------*/

/*# sourceMappingURL=home.css.map */