@body_color: #929292;
@navi_color: #323232;
@navi_active_color: #D6B161;
@title-dark: #494949;
@color_8: #878787;
@color_9: #a8a8a8;
@color_10: #868686;
@color_11: #575757;
@color_12: black;
@color_13: red;
@SSP: "Source Sans Pro", sans-serif;
@Mr: Montserrat, sans-serif;
@font_family_normalize1: monospace, monospace;
@font_family_normalize2: inherit;
@background_color_1: black;
@background_color_2: #eeeeee;
@background_color_3: rgba(0, 0, 0, 0.8);
@background_color_4: #bbb;
@background_color_5: #717171;
@background_color_6: #f6f6f6;
@col-1:calc(100% * 1/12);
@col-2:calc(100% * 2/12);
@col-3:calc(100% * 3/12);
@col-4:calc(100% * 4/12);
@col-5:calc(100% * 5/12);
@col-6:calc(100% * 6/12);
@col-7:calc(100% * 7/12);
@col-8:calc(100% * 8/12);
@col-9:calc(100% * 9/12);
@col-10:calc(100% * 10/12);
@col-11:calc(100% * 11/12);
@col-12:calc(100% * 12/12);





/*---------------------------------about.css--------------------------------------------*/
* {
	box-sizing: border-box;
}
body {
	position: relative;
	color: @body_color;
	font-family: @SSP;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
}
h1 {
	margin: 0;
}
h2 {
	margin: 0;
}
h3 {
	margin: 0;
}
h4 {
	margin: 0;
}
h5 {
	margin: 0;
}
h6 {
	margin: 0;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
dl,dt,dd{
	margin: 0;
}

img {
	display: block;
	width: 100%;
}
a {
	text-decoration: none;
	text-transform: uppercase;
}
.clearfix {
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}
.col-6 {
	width: 50%;
	float: left;
	padding: 0 15px;
}
.col-5 {
	width: 41.666666666666667%;
	float: left;
	padding: 0 15px;
}
.col-4 {
	width: 33.333333%;
	float: left;
	padding: 0 15px;
}
.col-3 {
	width: calc(25%);
	float: left;
	padding: 0 15px;
}
.co-2 {
	width: calc(16.66666667%);
}
.row {
	margin: 0 -15px;
}
.col-2 {
	float: left;
	padding: 0 15px;
}
.col-12 {
	float: left;
	padding: 0 15px;
}
.container {
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}

.nav_container{
	max-width: 1980px;
	display: block;
	margin:0 auto;
}

#cart-container{
	display:none;
}
.template {
    display:none;
}

/*----------------------------Header------------------------------*/
.navbar-default {
    background-color: transparent; 
    border-color: transparent; 
}

.navbar-brand{
	height:auto;
	padding:44px 42px 50px 53px;
	line-height: normal;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default{
	font-family:@Mr;
	.navbar-nav>li{
		.twicks{
			position: relative;
			bottom:5px;
		}
	}
	.navbar-nav>li>a {
		display: inline-block;
	    color: black;
		transition:color 0.3s ease;
	    &:active{
			color:@navi_active_color;
	    }
	    &:hover{
	    	color:@navi_active_color;	
	    }
	    [class^="icon-"]:before, [class*=" icon-"]:before {
	    	margin: 0;
	    }
	    div.count {
			background-color: @background_color_1;
			position: absolute;
			bottom: 6px;
			right: 3px;
			border-radius: 50%;
			height: 20px;
			width: 20px;
			text-align: center;
			font-size: 8px;
			font-weight: 400;
			color:white;
			transition:background-color 0.2s linear;
			&:hover{
				background:#D6B161; 
			}
		}
	}
	.navbar-text{
		margin:0;
		padding-top:53px;
		color:black;
	}
}

ul.nav.navbar-nav.navbar-right{
	padding-top:38px;
} 

.about-us {
	background: #f4f4f4;
	padding: 52px 0px 71px 0px;
	text-align: center;
	h1 {
		color: @title-dark;
		font-family: @Mr;
		font-size: 44px;
		font-weight: 700;
		text-transform: uppercase;
	}
	p {
		padding-top: 18px;
		text-transform: capitalize;
		font-size: 14px;
		color: @title-dark;
	}
}

/*----------------------------------Content-----------------------*/
.who-we-are {
	padding-top: 95px;
	h2 {
		font-family: @Mr;
		color: @title-dark;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 28px;
	}
	p {
		padding-top: 60px;
		line-height: 30px;
		color: @title-dark;
		span {
			line-height: 30px;
			font-family: @Mr;
			font-weight: 700;
			font-size: 22px;
			color: @title-dark;
		}
	}
	p.bold {
		font-family: @SSP;
		font-weight: 700;
		font-size: 16px;
		color: @title-dark;
	}
	ul.social {
		padding-top: 10px;
		li {
			float: left;
			a {
				padding-right: 10px;
				font-size: 16px;
				color: @title-dark;
			}
		}
	}
}

.our-team {
	h2 {
		font-family: @Mr;
		color: @title-dark;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 28px;
	}
	.container {
		padding-top: 112px;
	}
	.row {
		padding-top: 42px;
	}
	.col-x {
		&:nth-child(4){
			position: relative;
		}
		>ul {
			padding-top: 18px;
			li {
				&:first-child{
					margin-right: 10px;
					width: 7px;
					height: 32px;
					background-color: @background_color_2;
					float: left;					
				}
			}
			.name {
				font-family: @Mr;
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 2px;
				color: @title-dark;
			}
			.position {
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 5px;
			}
		}
	}
	.member {
		position: relative;
	}
	.cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.7);
		opacity: 0;
		transition: all 0.3s ease;
		&:hover {
			opacity: 1;
			cursor: pointer;
			ul {
				transform: translate(-50%,-50%);
			}
		}
		ul {
			position: absolute;
			top: 0;
			left: 0;
			left: 50%;
			top: 50%;
			transform: translate(-50%,100%);
			transition: all 0.3s ease;
			li {
				i {
					background: #515151;
					padding-top: 9px;
					padding-left: 10px;
					border-radius: 50%;
					width: 35px;
					height: 35px;
					font-size: 18px;
					color:white;
					transition:color 0.3s ease;
					&:hover{
						color:#D6B161;
					}
				}
			}
		}
	}

	.empty {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
		font-family: @Mr;
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
	}
}


 
.our-work-space {
	margin-top: 125px;
	margin-bottom: 50px;
	.owl-item {
		opacity: 0.3;
	}
	.owl-item.cloned {
		opacity: 0.3;
	}
	.owl-item.active.center {
		opacity: 1;
	}
}

.active {
	opacity: 0.3;
}

.owl-carousel {
	/*  owl-carousel nav 與navigation 的大小 */
	.owl-nav {
		button.owl-prev {
			position: absolute;
			top: 45%;
			left: 11%;
			font-size: 40px;
			color:#444;
			outline: none;
		}
		button.owl-next {
			position: absolute;
			top: 45%;
			right: 11%;
			font-size: 40px;
			color: #444;
			outline: none;
		}
	}
	/* dots style*/
	.owl-dots {
		text-align: center;
		margin-top: 20px;
	}
	button.owl-dot {
		display: inline-block;
		width: 50px;
		height: 2px;
		background: #000;
		margin-right: 10px;
		outline: none;
	}
}


/*---------------------------------Footer--------------------------*/

#Footer {
	.misc {
		background-color: @background_color_6;
		.container {
			padding-top:72px;
			padding-bottom:75px;
		}
	}
	.col-left {
		font-weight: 700;
		color: @color_9;
		a {
			text-transform: capitalize;
			color: @color_9;
		}
		div {
			i {
				padding-right: 3px;
			}
			i.fa-map-marker {
				display: inline-block;
				position: relative;
				top: -15px;
			}
		}
		div.address {
			a {
				display: inline-block;
			}
		}
		#logo-gray {
			padding-bottom: 30px;
			width: 112px;
		}
		p {
			padding-bottom: 30px;
		}
		.address {
			padding-bottom: 30px;
		}
	}
	.col-center {
		.col-inner{
			>a{
				text-transform: capitalize;
			    cursor: pointer;
			    padding-left: 5px;
			    font-weight: 700;
			    font-size: 18px;
			    color: #575757;
			    &:hover{
			    	text-decoration: none;
			    }
			}
			ul.collapse.in{
				padding-top:27px;
			}
			ul.collapsing{
			  padding-top:27px;
			}
			li a{
				color:@body_color;
			    line-height: 30px;
			    text-transform: capitalize;
			    font-weight: 700;
			    display: block;
			}
		}
	}
	.col-right {
		.sign-up {
			text-align: right;
			>li {
				padding-bottom: 30px;
				font-weight: 700;
			}
			li.title{
				font-size: 18px;
				color: @color_11;
				padding-bottom: 30px;
			}
			li.email {
				position: relative;
				padding-bottom:0px;
				margin-bottom: 30px; 
			}
			li {
				i.fa-angle-right {
					position: absolute;
				    right: 10%;
				    bottom: 50%;
				    transform: translateY(50%);
					font-size: 16px;
					cursor: pointer;
				}
			}
			li.bold {
				padding-bottom: 10px;
				font-family: @SSP;
				font-weight: 700;
				font-size: 16px;
				color: @title-dark;
			}
			ul.social {
				float: right;
				li {
					float: left;
					a {
						padding-left: 10px;
						font-size: 16px;
						color: @title-dark;
					}
				}
			}
			input {
				padding: 10px 0px;
				padding-left: 20px;
				background-color: @background_color_6;
				border-radius: 23px;
				width: 100%;
				border: 1px solid #868686;
				&:focus {
					outline: none;
					border: 1px solid #66afe9;
				}
			}
		}
	}
	.copy-right {
		.container {
			padding-top:40px;
			padding-bottom: 95px;
		}
		.col-xs-6 {
			p {
				font-weight: 700;
			}
			a {
				color: @color_12;
				font-family: @Mr;
				font-weight: 700;
				letter-spacing: 0px;
				transition: all 0.3s linear;
				&:hover {
					color: @color_13;
				}
			}
			.pay-method{
				float: right;
				width: 117px;
				img {
					position: relative;
					bottom: 3px;
				}
			}
			
		}
	}
}

/*--------------------------------------------------------RWD-------------------------------------------------------*/

@media screen and (max-width:991px){ 
	
	#Footer{
		.row{
			.col-x{
				text-align: center;
			}
			>.col-left{
				float:none;
				i.fa-map-marker{
					top:-20px;
				}
				#logo-gray{
					margin:0 auto;
				}
			}
			>.col-center{
				padding-top:30px;
				padding-bottom:30px;
				.col-inner{
					padding-bottom:20px;
				}
			}
			>.col-right{
				li{
					position: relative;
					text-align: center;
					input{
						width: 50%
					}
					i.fa-angle-right {
						right:30%;
					}
				}
				li.social{
				    width: 153px;
					display: block;
					margin: 0 auto;
					ul.social{
						float:none;
						a{
							padding:0px 10px 0px 0px;
						}
					}
				}
			}
		}
	}
}


<<<<<<< HEAD
@media screen and (max-width:1229px){
=======
@media screen and (max-width:1199px){
>>>>>>> 782c72d1f709e38cff83163c86a060f76264f94e

	div#nav1{
		text-align: center;
	}

	.navbar-default{
		font-family:@Mr;
		.navbar-nav>li .twicks{
				position: relative;
				bottom:5px;
		}
		
		.navbar-nav>li>a {

		    div.count {
				bottom: 2px;
				right: 3px;
			}
		}

		.navbar-text{
			padding-top:43.5px;
		}

		ul.nav.navbar-nav.navbar-right{
			padding-bottom:36px;
		} 	
	}
	
	.navbar-toggle {
	    margin-right: 53px;
	    padding: 10px 10px;
	    margin-top: 41px;
	}
<<<<<<< HEAD
}


@media screen and (max-width:767px){
	a.navbar-brand{
		padding-left: 7px;
	}
	.navbar-toggle{
		margin-right: 7px;
	}

}

=======
}
>>>>>>> 782c72d1f709e38cff83163c86a060f76264f94e
