	@import "basic";

	/*---------------------------------home.css--------------------------------------------*/

	/* --------------------------------customize----------------------------------------- */
	* {
		position: relative;
	}

	.rank li{
		float: left;
		i.fa-star{
			color:@navi_active_color;
		}
	}

	.product_info{
		position: absolute;
	    color: white;
		bottom:0;
		left:0;
		.title{
		    display: inline-block;
		    padding: 5px;
		    background: #535353;
		    font-weight: bold;					
		    text-transform: uppercase;
		    letter-spacing: 3px;
		}
		h1{
			font-size: 70px;
			font-weight:400 ;
		}
		span{
			font-family:@Mr;
		}
		p{
			line-height: 1.5rem;
		}
		.price{
			padding-top: 25px;
			font-family: @Mr;
			font-size: 30px;
		}
		.rank li{
			float: left;
		}
	}

	.shopnow{
		p{	
			display: inline-block;
			text-transform: uppercase;
			font-size: 17px;
			font-weight: 700;
		}
		a{	
			margin-left: 12px;
			display: inline-block;
			border-radius: 50%;
			background: transparent;
			border: 1px solid white;
			padding:2px 8px;
			color: white;							
		}
	}

	h2.title{
		padding-bottom: 30px;
		font-family: @Mr;
		font-weight: 700;
		color: rgb(58,58,58);
	}
	/* --------------------------------Header------------------------------------------- */
	#Header_home{
		background-color: #282828;
		.contact{
			float: left;
			text-transform: lowercase;
		}
		.lists{
			float: right;
		}
		li{
			float: left;
			padding: 13px 17px;
			transition:background-color 0.2s ease;
			&:hover{
				background-color:#3f3e43;
			}
			&:active{
				color:#D6B161;
			}	
		}
		a{
			font-weight: bold;
			text-transform: capitalize;
			color:rgb(161,161,161);
			&:active{
					color:#D6B161;
			}
		}
	}


	@import "nav-bar";	



	/* -----------------------------------Content------------------------------------------- */
	#Content{
		.FDI_1,.FDI_2{
			.product_info{
				position: absolute;
			    color: white;
				bottom:0;
				left:0;
				.title{
					padding: 0px;
				    display: inline-block;
				    background: #535353;
				    font-weight: bold;					
				    text-transform: uppercase;
				    letter-spacing: 3px;
				}
				h1{
					font-size: 70px;
					font-weight:400 ;
				}
				span{
					font-family:@Mr;
				}
				p{
					line-height: 1.5rem;
				}
				.price{
					padding-top: 25px;
					font-family: @Mr;
					font-size: 30px;
				}
				.rank li{
					float: left;
				}
			}
		}
		.FDI_1{
			padding-top: 35px;
			.col_left{
			    padding-right: 12px;
			}
			//原本拉錯容器的pl(拉成.col-md-6.inner1)的pl，後來發現拉這邊才對
			.col_right{
				padding-left: 10px;
				.col-md-6.inner1{
					padding-right: 19px;
				}
				.inner2{
					padding-left: 1px;
				}
			}
			.pics{
				position: relative;
				&.inner2{
					padding-top: 19px;
				}
			}
			.product_1{
				bottom:12%;
				left: 12%
			}
			.product_2{
					bottom: 7%;
				    left: 12%;
					.title{
						background: none;
					}
					h2{
						font-weight: bold;
						text-transform: capitalize;
					}
					.circle{
						display: inline-block;
						margin-left: 44%;
						margin-top: 40%;
						border-radius: 50%;
						padding:42px 0px;
						width: 129px;
						text-align: center;
						background-color: #62c5de;
						.price-through{
							text-decoration: line-through;
							font-size: 16px;
							span{
								font-size: 8px;
							}
						}
						.price{
							padding-top:0px;
							font-size:24px;
							span{
								font-size: 20px;
							}
						}
					}
					.shopnow{
						margin-top: 64%;
						p{
							display: inline-block;
							font-size: 17px;
							font-weight: 700;
						}
						a{	
							display: inline-block;
							border-radius: 50%;
							background: transparent;
							border: 1px solid white;
							padding:2px 8px;
							color: white;							
						}
					}
			}
			.product_3{
				bottom:14%;
				left:15%;
				text-align: right;
				.title{
					color: #939393;
				    display:block;
				    background:none;
				    text-align: right;
				    letter-spacing: 3px;
				    font-size: 20px;
				    font-family: @Mr;
				    font-weight: 700;
				}
				.price{
					margin-top: 70px;
					padding-top: 0px;
					font-family: @Mr;
					font-size: 25px;
					color: #991015;
					font-weight: 400;
				}
				.rank{
					i.fa-star{
						color:@navi_active_color;
					}
					i.fa-star-o{
						color:@body_color;	
					}
				}
				a.shopnow{
					display:inline-block; 
					margin-top: 19px;
					background-color: #2e2d32;							
					border: 1px solid #2e2d32;
					text-transform: uppercase;
					padding: 2px 4px;
					color: #fff;
					font-family: @Mr;
				}
			}
			.product_4{
				bottom:10%;
				left:10%;
				text-align: left;
				.title{
				    display:block;
				    padding: 0px;
				    background:none;
				    font-size: 20px;
				    font-family: @Mr;
				    font-weight: 700;
					color: #2c3e66;
				    letter-spacing: 3px;
				}
				.rank{
					margin-top: 36px;
					i.fa-star{
						color:@navi_active_color;
					}
					i.fa-star-o{
						color:@body_color;	
					}
				}
				.price-through{
					margin-top: 4px;
					text-decoration: line-through;
					font-family: @Mr;
					font-size: 16px;
					color:@body_color;
				}
				.price{
					margin-top: 4px;
					padding-top: 0px;
					font-family: @Mr;
					font-size: 25px;
					color: #2c3e65;
					font-weight: 400;
				}
				.shopnow{
					margin-top: 10px;
					p{
						display: inline-block;
						font-size: 17px;
						font-weight: 700;
						color:#2d4169;
						text-transform: uppercase;
					}
					a{	
						display: inline-block;
						border-radius: 50%;
						background: transparent;
						border: 1px solid #2d4169;
						padding:2px 8px;
						color: #2d4169;							
					}
				}
			}
		}
		
		.FDI_2{
			padding-top: 20px;
			.col-md-4{
				width: 36%;
				padding-right: 13px;
			}
			.col-md-8{
				width: 64%;
				padding-left: 6px;
			}
			.pics{
				position: relative;
				&.inner2{
					padding-top: 21.5px;
				}
			}
			.product_1{
				text-align: right;
			    color: white;
		        bottom: 20%;
			    left: 20%;
				.title{
					background-color: transparent;
				    font-weight: bold;					
				    text-transform: uppercase;
				    letter-spacing: 3px;
				}
				h2{
					font-family: @Mr;
					font-size: 25px;
					font-weight:400 ;
				}
				.shopnow{
					margin-top: 70px;
				}
			}
			.product_2{
				text-align: right;
			    color: white;
		        bottom: 20%;
			    left: 20%;
				.title{
					background-color: transparent;
				    color:@body_color;
				}
				h2{
					font-family: @Mr;
					font-size: 25px;
					font-weight:400 ;
					color:#505050;
				}
				.shopnow{
					margin-top: 150px;
					color:@body_color;
					a{	
						border-color:@body_color;
						color: #2d4169;							
					}
				}
			}
			.owl-carousel.slider0{
				.owl-dots{
					display: inline-block;
					position: relative;
				    bottom: 95px;
				    left: 73px;
					.owl-dot{
						background-color: transparent;
						margin-right: 3px;
						border:3px solid #d2d2d2;
						border-radius: 50%;
						padding: 10px!important;
						&.active{
							border-color:#a2a2a2;
						}
						&:focus{
							outline: none;
						}
					}
				}
				.item{
					.product_info{
						bottom:60%;
						left:10%;
						.title{
						    background: transparent;
						    color:@body_color;
						}
						h1{

							font-size: 50px;
							font-weight:400;
							color:#505050;
						}
						span{
							font-family:@Mr;
						}
						p{
							line-height: 1.5rem;
							color:@body_color;
						}
					}
				}
				
			}
		}

		.feature{
			padding-top: 40px;
			.slider-select-bar li{
				float: left;
				font-size: 17px;
				font-family: @Mr;
			    font-weight: 700;
				&:after{
					content:"|";
					font-family: @SSP;
					font-weight: 400;
					padding:0px 30px;
				}
				&:last-child:after{
					display: none;
				}
				a{
					color:rgb(131,129,130);
					transition: color 0.3s linear;
					&:hover{
						color:rgb(58,58,58);
					}
					&:hoever{
						color:rgb(58,58,58);	
					}	
				}
			}
			.featurelist1{
				padding-top: 30px;
				position: relative;
				.item,.item-with-rank{
					position: relative;
					.discount{
						position: absolute;
						top:10%;
						padding:5px 10px;
						background-color:#b2cc29;
						font-family: @Mr;
						color:white;
					}
				}
				.name-price{
					padding-top: 18px;
					padding-left: 20px;
					.name{
						font-size: 18px;
						padding-top: 10px;
						font-weight: 700;
						text-transform: capitalize;
					}
					.price{
						padding-top: 5px;
						font-size: 18px;
						font-weight: 700;
						color:black;
						i{
							padding-right: 5px;
						}
					}
				}
				.name-price.rank{
					padding-top: 0px;	
				}
				.owl-nav{
					position: absolute;
					top:-7.5%;
					right:0;
				    border-radius: 19px;
				    padding: 4px 5px;
					background-color: #eee;
					button{
						margin: 0px 1px;
						padding:5px 11.781px !important;
						border-radius: 50%;
						background-color:white;
						&:focus{
							outline: none;
						}
						&:active{
							background-color: rgba(0,0,0,0.3);
						}
					}
					i{
						font-size: 18px;
					}
				}
			}
			.featurelist2{
				padding-top: 70px;
				>div{
					position: relative;
					padding:0px;
				}
				.product_info{
					position: absolute;
				    color: @body_color;
					bottom:0;
					left:0;
				    margin-left: 30px;
				    margin-bottom: 30px;
					.title{
						text-transform: capitalize;
					    padding:0px;
					    background: transparent;
					    font-weight: bold;
					    font-size: 16px;					
					    letter-spacing: 7px;
					}
					h2{
						margin-top: 5px;
						font-size: 26px;
						font-weight:400;
						font-family: @Mr;
						color:rgb(83,83,83);
					}
					.shopnow{
						text-transform: uppercase;
						margin-top: 65px;
						p{
							font-size: 17px;
							font-weight: 700;
						}
						a{	
							border: 1px solid @body_color;
							color: @body_color;							
						}
					}
				}
			} 
		}
		.best-seller{
			padding-top: 70px;
			position: relative;
			.owl-carousel.slider2{
				.item,.item-with-rank{
					position: relative;
					z-index: -1;
					.discount{
						position: absolute;
						top:10%;
						padding:5px 10px;
						background-color:#b2cc29;
						font-family: @Mr;
						color:white;
					}
					.new{
						position: absolute;
						top:10%;
						padding:5px 10px;
						background-color:#000;
						font-family: @Mr;
						color:white;
					}
					.new.couple{
						top:23%;
					}
				}
			
				.for-cover{
					position: relative;
					.cover{
						position: absolute;
						top:0;
						bottom: 0;
						right:0;
						left:0;
						bottom: 0;
						transition:all 0.3s linear;					
						z-index: 1;
						&:hover{
							cursor:pointer;
							background-color: rgba(255,255,255,0.6);
							.cover-context li{
								opacity:0.9;
							}
						}
						.cover-context{
							position: absolute;
							// top:0;
							left:0;
							right:0;
							bottom:0;
							text-align: center;
							li{
								opacity: 0;
								float: left;
								padding:15px 0px;
								border:1px solid rgba(92, 92, 92, 0.5);
								background-color: #fff;
								transition:all 0.3s linear;
								&:first-child{
									border-right-color: transparent;
									&:hover{
										background-color: @navi_active_color;
										a{
											color:white;
										}
									}
								}
								&:nth-child(2){
									padding:0px;
									div{
										transition: all 0.3s linear;
									}
									div:hover{
										background-color:@navi_active_color;
										a{
											color:white;
										}
									}
									div:first-child{
										border-right: 1px solid rgba(92, 92, 92, 0.5);
									}
								}
								.col-xs-6{
									padding:15px 0px;
								}
								a{
									color:@body_color;
									text-transform: capitalize;
									i.icon-handbag{
										padding-right: 8px;
									}
								}
							}
						}
					}
				}
				.name-price.rank,.name-price{
					position: relative;
					z-index: 0;
				}
				.name-price{
					bottom: 18px;	
					padding-left: 20px;
					.name{
						padding-top: 35px;
						font-size: 18px;
						font-weight: 700;
						text-transform: capitalize;
					}
					.price{
						padding-top: 5px;
						font-size: 18px;
						font-weight: 700;
						color:black;
						i{
							padding-right: 5px;
						}
					}
				}
				.name-price.rank{
					bottom:32px;
					padding-top: 0px;
					.name{
						padding-top: 29px;
					}
				}
				.owl-nav{
					position: absolute;
					top:-19.5%;
					right:0;
				    border-radius: 19px;
				    padding: 4px 5px;
					background-color: #eee;
					button{
						margin: 0px 1px;
						padding:5px 11.781px !important;
						border-radius: 50%;
						background-color:white;
						&:focus{
							outline: none;
						}
						&:active{
							background-color: rgba(0,0,0,0.3);
						}
					}
					i{
						font-size: 18px;
					}
				}
			}
		}
		.brands{
			padding-top: 53px;
			small{
				font-family: @SSP;
				font-weight: 700;
				letter-spacing: 3px;
			}
			.col-xs-11{
				position: relative;
			    float: none;
			    margin: 0 auto;
				.owl-carousel.slider3{
					position: static;
					padding-top: 20px;
					.owl-nav{
						button.owl-prev{
							position: absolute;
							top: 0;
							left: -4%;
							&:focus{
								outline: none
							}
						}
						button.owl-next{
							position: absolute;
							right:-4%;
							bottom: 0;
							&:focus{
								outline: none
							}
						}
					}
				}
			}
		}
	}

	/* -----------------------------------Footer-------------------------------------------- */


	#Footer {
		margin-top: 73px;
		background-color: @background_color_6;
		.misc1{
			padding-top: 65px;
			i{
				float: left;
			}
			.services{
				display: inline-block;
				margin-left: 23px;
				color:#535353;
				h5.title{
					font-family: @Mr;
					font-weight: 700;
					margin-bottom: 2px;
				}
				p{
					font-weight: 700;
				}
			}
			hr{
				border-color:rgba(92,92,92,0.2);
				margin: 0;
				margin-top: 55px;

			}
		}
		.misc2 {
			.container {
				padding-top: 51px;
				padding-bottom:75px;
				.col-left {
					font-weight: 700;
					color: @color_9;
					a {
						text-transform: capitalize;
						color: @color_9;
					}
					div {
						i {
							padding-right: 3px;
						}
						i.fa-map-marker {
							display: inline-block;
							position: relative;
							top: -15px;
						}
					}
					div.address {
						a {
							display: inline-block;
						}
					}
					#logo-gray {
						padding-bottom: 30px;
						width: 112px;
					}
					p {
						padding-bottom: 30px;
					}
					.address {
						padding-bottom: 30px;
					}
				}
				.col-center {
					.col-inner{
						>a{
							text-transform: capitalize;
						    cursor: pointer;
						    padding-left: 5px;
						    font-weight: 700;
						    font-size: 18px;
						    color: #575757;
						    &:hover{
						    	text-decoration: none;
						    }
						}
						ul.collapse.in{
							padding-top:27px;
						}
						ul.collapsing{
						  padding-top:27px;
						}
						li a{
							color:@body_color;
						    line-height: 30px;
						    text-transform: capitalize;
						    font-weight: 700;
						    display: block;
						}
					}
				}
				.col-right {
					.sign-up {
						text-align: right;
						>li {
							padding-bottom: 30px;
							font-weight: 700;
						}
						li.title{
							font-size: 18px;
							color: @color_11;
							padding-bottom: 30px;
						}
						li.bold {
							padding-bottom: 10px;
							font-family: @SSP;
							font-weight: 700;
							font-size: 16px;
							color: @title-dark;
						}
						li.email {
							float: right;
							position: relative;
							display: block;
							width:255px;
							[type='email']{
								  background-color: #fff;
								  border-radius:23px;
								  border: 1px solid #fff;
								  padding:10px 0px;
								  padding-left:10px;
								  width:~'calc(100% - 12px)';
								  font-family: @Mr;
								  font-size: 8px;
								  color:rgb(105,105,105);
								  &:focus{
								    outline:none;
								    border:1px solid #D6B161
								  }
							}
							[type="submit"]{
								position: absolute;
								top:0;
								right:0;
								padding:10px 10px;
								padding-left:10px;
								border-radius:0 23px 23px 0; 
								border:1px solid  #696969;
								width: 87px;
							    font-family: @Mr;					
								font-size: 8px;
								color:white;
								background-color: #696969;
								cursor:pointer;
								&:active{
								color: #D6B161;
								}
								&:focus{
								outline:none;
								}
							}				  
						}
						ul.social {
							float: right;
							li {
								float: left;
								a {
									padding-left: 10px;
									font-size: 16px;
									color: @title-dark;
								}
							}
						}
					}
				}
			}
		}
		.copy-right {
			background-color: #fff;
			.container {
				padding-top: 40px;
				padding-bottom: 95px;
			}
			.col-xs-6 {
				p {
					font-weight: 700;
				}
				a {
					color: @color_12;
					font-family: @Mr;
					font-weight: 700;
					letter-spacing: 0px;
					transition: all 0.3s linear;
					&:hover {
						color: @color_13;
					}
				}
				.pay-method{
					float: right;
					width: 117px;
					img {
						position: relative;
						bottom: 3px;
					}
				}
				
			}
		}
	}



	/*--------------------------------------------------------RWD-------------------------------------------------------*/
	@media screen and (max-width:1229px){

		#Content{
			.FDI_1{
				padding-top: 35px;
				.col_left{
					padding-right: 12px;
				}
				.col_right{
					.col-md-6.inner1{
						padding-left: 16px;
						padding-right: 15px;
					}
				}
				.pics{
					position: relative;
					&.inner2{
						padding-top: 15px;
					}
				}
				.product_2{
					bottom: 3%;
					.circle{
						margin-left: 22%;
					}
					.shopnow{
						margin-top: 22%;
					}
				}
				.product_3{
					left: 8%;
					.title{
					    font-size: 18px;
					}
					.price{
						margin-top: 26px;
					}
				}
				.product_4{
					.rank{
						margin-top: 11px;
					}
				}
			}
			
			.FDI_2{
				padding-top: 15px;
				.col-md-4{
					padding-right: 11px;
				}
				.col-md-8{
					padding-left: 7px;
				}
				.pics{
					&.inner2{
						padding-top: 18px;
					}
				}
				.product_1{
			        bottom: 3%;
				    left: 6%;
				}
				.product_2{
			        bottom: 5%;
				    left: 9%;
				}
			}

			.feature {
				padding-top: 30px;
				.featurelist1{

					.owl-nav{
						top:-7%;
						// md7% sm6.5%
					}
				}		
				.featurelist2{
					.product_info{
						margin-bottom: 11px;
					}
				} 
			}
			.best-seller{
				.owl-carousel.slider2{
					.owl-nav{
						top:-15.5%;
						// md-15.5% sm-14%
						right:0;
					    border-radius: 19px;
					    padding: 4px 5px;
						background-color: #eee;
					}
				}
			}
		} 

		#Footer{
			.misc1{
				i{
					margin-left: 60px;
				}
				.row{
					.col-md-6:nth-child(3){
						margin-top: 50px;
					}
					.col-md-6:nth-child(4){
						margin-top: 50px;
					}
				}			
			}
		}
	}

	@media screen and (max-width:991px){ 
		#Content{
			.FDI_1{
				padding-top: 0px;
				.col_left{
					padding-right: 15px;
					padding-left: 15px;
					width: 100%;
				}
				.col_right{
					width: 100%;
					padding-right: 15px;
					padding-left: 15px;
					padding-top: 24px;
					.col-md-6.inner1{
						padding-right: 24px;
					}
				}
				.pics{
					&.inner2{
						padding-top: 21px;
					}
				}
				.product_2{
					.circle{
						margin-left: 64%;
						margin-top: 64%;
					}
					.shopnow{
						margin-top: 80%;
					}
				}
				.product_3{
					left: 35%;
					bottom: 13%;
					.title{
					    font-size: 18px;
					}
					.price{
						margin-top: 100px;
					}
				}
				.product_4{
					.rank{
						margin-top: 69px;
					}
				}
			}
			
			.FDI_2{
				padding-top: 24px;
				.col-md-4{
					width: 100%;
					padding-right: 15px;
					padding-left: 15px;
				}
				.col-md-8{
					width: 100%;
					padding-right: 15px;
					padding-left: 15px;
					padding-top: 24px;
				}
				.pics{
					float: left;
					&.inner1{
						width: 50%;
						padding-top: 53px;
						padding-right: 24px;
					}	
					&.inner2{
						width: 50%;
						padding-top: 0px;
					}
				}
				.product_1{
			        bottom: 13%;
				    left: 9%;
				}
				.product_2{
			        bottom: 15%;
				    left: 15%;
				}
			}

			.feature {
				.featurelist1{

					.owl-nav{
						top:-6.5%;
					}
				}
				.featurelist2{
					.product_info{
						.title{
						    font-size: 10px;					
						}
						h2{
							font-size: 20px;
						}
						.shopnow{
							margin-top: 32px;
							p{
								font-size: 13px;
							}
						}
					}
				}
			}
			.best-seller{
				.owl-carousel.slider2{
					.owl-nav{
						top:-14%;
						right:0;
					    border-radius: 19px;
					    padding: 4px 5px;
						background-color: #eee;
					}
				}
			}
		} 


		#Footer{
			.misc1{
				.row{
					.col-md-6{
						position: relative;
						&:nth-child(2){
							margin-top: 50px;
						}
					}
					.col-xs-12{
						float: none;
						width:40%;
						margin:0 auto;
						i{
							margin-left: 0px;
							width: 100%;
							text-align: center;
						}
						.services{
							margin-top: 20px;
							padding-left: 10px;
						}			
					}
				}
			}
			.misc2{
				.container{
					.col-x{
						text-align: center;
					}
					.col-left{
						float:none;
						#logo-gray{
							margin:0 auto;
						}
					}
					.col-center{
						padding-top: 30px; 
						padding-bottom: 30px;
						.col-inner{
							padding-bottom:20px;
						}
					}
					.col-right{
						.sign-up{
							li{
								position: relative;
								text-align: center;
								i.fa-map-marker{
									top:-20px;
								}
							}
							li.email {
								float: none;
								margin:0 auto;
							}
							li.social{
							    width: 153px;
								display: block;
								margin: 0 auto;
								ul.social{
									float:none;
									a{
										padding:0px 10px 0px 0px;
									}
								}
							}
						}
					}
				}
			}
		}
	}


	@media screen and (max-width:767px){
		#Header_home{
			background-color: #282828;
			ul li{
				padding: 17px 10px;
			}
			.contact{
				width: 320px;
				min-width: 320px;
				margin: 0 auto;
				display: block;
				float: none;
			}
			.lists{
				width: 320px;
				min-width: 320px;
				margin: 0 auto;
				display: block;
				float: none;
				li:nth-child(2){
					padding:17px 24px;
				}
			}
		}

		#Content{
			
			.FDI_1{
				padding-top: 0px;
				.col_left{
					padding-right: 15px;
					padding-left: 15px;
					width: 100%;
				}
				.col_right{
					width: 100%;
					padding-top: 24px;
					.col-md-6.inner1{
						width: 100%;
						padding-right: 15px;
						padding-left: 15px;
					}
					.col-md-6.inner2{
						padding-top: 24px;
						padding-right: 15px;
						padding-left: 15px;
						width: 100%;
					}
				}
				.pics{
					&.inner2{
						padding-top: 24px;
					}
				}
				.product_2{
					bottom: 25%;
					.circle{
						margin-left: 96%;
						margin-top: 131%;
					}
				}
				.product_3{
					left: 56%;
					bottom: 37%;
				}
				.product_4{
					bottom: 34%;
				}
			}
			
			.FDI_2{
				padding-top: 24px;
				.col-md-4{
					width: 100%;
					padding-right: 15px;
					padding-left: 15px;
				}
				.col-md-8{
					width: 100%;
					padding-top: 24px;
					padding-right: 15px;
					padding-left: 15px;
				}
				.pics{
					float: left;
					&.inner1{
						width: 100%;
						padding-top: 0px;
						padding-right: 0px;
					}	
					&.inner2{
						width: 100%;
						padding-top: 24px;
					}
				}
				.product_1{
			        bottom: 40%;
				    left: 40%;
				}
				.product_2{
			        bottom: 40%;
				    left: 40%;
				}

				.owl-carousel.slider0 .item .product_info{
					bottom: 42%;
				}
			}

			.feature{
				.featurelist2{
					.col-xs-12.col-sm-4:first-child{
						.product_info{
							transform: translate(-81%,50%);
						}
					}
					.product_info{
						bottom:50%;
						left:34%;
					    margin-left:0px;
					    margin-bottom: 0px;
					    transform:translate(-50%,50%);
						.title{
						    font-size: 16px;					
						    letter-spacing: 7px;
						}
						h2{
							margin-top: 5px;
							font-size: 26px;
						}
						.shopnow{
							margin-top: 65px;
							p{
								font-size: 17px;
							}
						}
					}
				}
			}
		} 
	}

	@media screen and (max-width:576px){
		#Content{
			.FDI_1{
				padding-top: 35px;
				.product_1{
					bottom:8%;
					left: 12%;
					h1{
						font-size: 42px;
					}
				}
				.product_2{
					bottom: 6%;
				    left: 12%;
					.circle{
						margin-left: 53%;
						margin-top: 70%;
					}
					.shopnow{
						margin-top: 60%;
					}
				}
				.product_3{
					bottom: 5%;
				    left: 0%;
				    top: 4%;
				    right: 10%;
				}
				.product_4{
					bottom:4%;
					left:10%;
				}
			}
			
			.FDI_2{
				.product_1{
					top: 0;
					left: 0;
					bottom: 0;
					right: 6%;
					.shopnow{
						margin-top: 60px;
					}
				}
				.product_2{
			        bottom: 0%;
				    left: 0%;
				    top: 10%;
				    right: 6%;
					.shopnow{
						margin-top: 130px;
					}
				}
				.owl-carousel.slider0{
					.item{
						.product_info{
							top: 10%;
							left:10%;
							right: 0%;
							bottom:0%;
							h1{
								font-size: 22px;
							}
						}
					}
				}
			}
		}
	}

	@media screen and (max-width:437px){
		#Content .feature .slider-select-bar li:after {
		    padding: 0px 14px;
		}
	}

	@media screen and (max-width: 425px){

		#Footer{
			.misc1{
				.row{
					.col-xs-12{
						
						width:70%;
					
					}
				}
			}
		}
	}

	@media screen and (max-width:372px){
		#Content .feature .slider-select-bar li:after {
		    padding: 0px 0px;
		}
		
		#Content .feature{
			.featurelist2{
				.col-xs-12.col-sm-4:first-child{
					.product_info{
						transform: translate(-64%,50%);
					}
				}
				.product_info{
					bottom:50%;
					left:43%;
				    transform:translate(-50%,50%);
					h2{
						margin-top: 5px;
						font-size: 26px;
					}
					.shopnow{
						margin-top: 34px;
						p{
							font-size: 17px;
							font-weight: 700;
						}
					}
				}
			}
		}
	}