@import "basic";

/*---------------------------------home.css--------------------------------------------*/

/* --------------------------------customize----------------------------------------- */

/* --------------------------------Header------------------------------------------- */
#Header_home{
	background-color: #282828;
	.contact{
		float: left;
		text-transform: lowercase;
	}
	.lists{
		float: right;
	}
	li{
		float: left;
		padding: 13px 17px;
		transition:background-color 0.2s ease;
		&:hover{
			background-color:#3f3e43;
		}
		&:active{
			color:#D6B161;
		}	
	}
	a{
		font-weight: bold;
		text-transform: capitalize;
		color:rgb(161,161,161);
		&:active{
				color:#D6B161;
		}
	}
}

.navbar-default {
    background-color: transparent; 
    border-color: transparent; 
}

.navbar-brand{
	height:auto;
	padding:43px 0px 0px 0px;
	line-height: normal;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default{
	font-family:@Mr;
	.navbar-nav>li{
		position: relative;
		&.cart-info{
			h5{
				padding-bottom: 3px;
			}
			h6{
				padding-top: 3px;
				font-size: 8px;
				font-weight: 700;
				text-transform: lowercase;
				font-family:@SSP;
			}
		}
		.twicks{
			position: relative;
			bottom:5px;
		}
	}
	.navbar-nav>li>a {
		display: inline-block;
	    color: black;
		transition:color 0.3s ease;
	    &:active{
			color:@navi_active_color;
	    }
	    &:hover{
	    	color:@navi_active_color;	
	    }
	    [class^="icon-"]:before, [class*=" icon-"]:before {
	    	margin: 0;
	    }
	}
	.navbar-text{
		margin:0;
		padding-top:53px;
		color:black;
	}
}

ul.nav.navbar-nav.navbar-right{
	padding-top:38px;
} 


/* -----------------------------------Content------------------------------------------- */
#Content{
	.FDI_1,.FDI_2{
		.row{
			margin: 0 -10px;
			.col-xs-12,.col-md-6,.col-xs-6,.col-md-6,.col-md-5,.col-md-7,.col-md-12{
				padding: 0 10px;
			}
			.col_right{
				.col-xs-6.col-md-6:first-child{
					padding-right: 18px;
				}
				.col-xs-6.col-md-6:nth-child(2){
					.col-xs-12{
						padding-left: 0px;
						&:first-child{
							padding-bottom: 20px
						}
					}
				}
			}
			.product_info{
				position: absolute;
			    color: white;
				bottom:0;
				left:0;
				.title{
				    display: inline-block;
				    padding: 5px;
				    background: #535353;
				    font-weight: bold;					
				    text-transform: uppercase;
				    letter-spacing: 3px;
				}
				h1{
					font-size: 70px;
					font-weight:400 ;
				}
				span{
					font-family:@Mr;
				}
				p{
					line-height: 1.5rem;
				}
				.price{
					padding-top: 25px;
					font-family: @Mr;
					font-size: 30px;
				}
				.rank li{
					float: left;
				}
			}
			.product_1{
				bottom:12%;
				left: 12%
			}
			.product_2{
				bottom: 0;
			    left: 10%;
			    top: 3%;
				.title{
					background: none;
				}
				h2{
					font-weight: bold;
					text-transform: capitalize;
				}
				.circle{
					display: inline-block;
					border-radius: 50%;
					padding:42px 0px;
					width: 129px;
					text-align: center;
					background-color: #62c5de;
					.price-through{
						text-decoration: line-through;
						font-size: 16px;
						span{
							font-size: 8px;
						}
					}
					.price{
						padding-top:0px;
						font-size:24px;
						span{
							font-size: 20px;
						}
					}
				}
				.shopnow{
					p{
						display: inline-block;
						font-size: 17px;
						font-weight: 700;
					}
					a{	
						display: inline-block;
						border-radius: 50%;
						background: transparent;
						border: 1px solid white;
						padding:2px 8px;
						color: white;							
					}
				}
			}
		}
	}
	.FDI_1{
		padding-top: 35px;

	}
	.FDI_2{
		padding-top: 20px;
	}
}

/* -----------------------------------Footer-------------------------------------------- */
#Footer {
	.misc {
		background-color: @background_color_6;
		.container {
			padding: 72px 0px 75px 0px;
		}
	}
	.col-left {
		font-weight: 700;
		color: @color_9;
		a {
			text-transform: capitalize;
			color: @color_9;
		}
		div {
			i {
				padding-right: 3px;
			}
			i.fa-map-marker {
				display: inline-block;
				position: relative;
				top: -15px;
			}
		}
		div.address {
			a {
				display: inline-block;
			}
		}
		#logo-gray {
			padding-bottom: 30px;
			width: 112px;
		}
		p {
			padding-bottom: 30px;
		}
		.address {
			padding-bottom: 30px;
		}
	}
	.col-center {
		.col-inner{
			>a{
				text-transform: capitalize;
			    cursor: pointer;
			    padding-left: 5px;
			    font-weight: 700;
			    font-size: 18px;
			    color: #575757;
			    &:hover{
			    	text-decoration: none;
			    }
			}
			ul.collapse.in{
				padding-top:27px;
			}
			ul.collapsing{
			  padding-top:27px;
			}
			li a{
				color:@body_color;
			    line-height: 30px;
			    text-transform: capitalize;
			    font-weight: 700;
			    display: block;
			}
		}
	}
	.col-right {
		.sign-up {
			text-align: right;
			>li {
				padding-bottom: 30px;
				font-weight: 700;
			}
			li.title{
				font-size: 18px;
				color: @color_11;
				padding-bottom: 30px;
			}
			li.email {
				float: right;
				position: relative;
				display: block;
				width:255px;
				[type='email']{
					  border-radius:23px;
					  /*   只要是input系列的元素，作出圓弧的效果，都會導致外觀看起來壞掉， 一定要對border進行設定，
					  才能矯正回正常的外觀*/
					  border: 1px solid #fff;
					  padding:10px 0px;
					  /*   讓placeholder的內容往右推，否則太靠邊*/
					  padding-left:10px;
					  /*
					  1.因為padding推了10px，導致input email變長，所以要扣回 來，而這邊為什麼padding明明只往左推了10px，
					  width卻要減12px，是因為widh只減10px時，在focus的時候會凸出來，因此才多減一些。
					  2.css的function可以辨別兩種不同的unit，所以可以像下面這樣%、px混合，但要記得中間的空白要斷好，
					  否則瀏覽器會看無
					  3.用~''將calc(100% - 12px)包起來是因為我們現在是在用less寫，而less看不懂這個寫法，此外，
					  less也不能將unit混著寫，此時用~''跳脫出less，使之成為單純的css即可
					  */
					  width:~'calc(100% - 12px)';
					  font-family: @Mr;
					  font-size: 8px;
					  color:rgb(105,105,105);
					  &:focus{
					    outline:none;
					    border:1px solid #D6B161
					  }
				}
				[type="submit"]{
					/* 重疊input! */
					position: absolute;
					top:0;
					right:0;
					/* 一樣是為了讓input空間寬一點 */
					border-radius:0 23px 23px 0; 
					border:1px solid  #696969;
					padding:10px 10px;
					padding-left:10px;
				    font-family: @Mr;					
					font-size: 8px;
					color:white;
					background-color: #696969;
					cursor:pointer;
					/* 點擊時產生效果即可 */
					&:active{
					color: #D6B161;
					}
					&:focus{
					outline:none;
					}
				}				  
			}
			li {
				i.fa-angle-right {
					position: absolute;
				    right: 10%;
				    bottom: 50%;
				    transform: translateY(50%);
					font-size: 16px;
					cursor: pointer;
				}
			}
			li.bold {
				padding-bottom: 10px;
				font-family: @SSP;
				font-weight: 700;
				font-size: 16px;
				color: @title-dark;
			}
			ul.social {
				float: right;
				li {
					float: left;
					a {
						padding-left: 10px;
						font-size: 16px;
						color: @title-dark;
					}
				}
			}
		}
	}
	.copy-right {
		.container {
			padding: 40px 0px 95px 0px;
		}
		.col-xs-6 {
			p {
				font-weight: 700;
			}
			a {
				color: @color_12;
				font-family: @Mr;
				font-weight: 700;
				letter-spacing: 0px;
				transition: all 0.3s linear;
				&:hover {
					color: @color_13;
				}
			}
			.pay-method{
				float: right;
				width: 117px;
				img {
					position: relative;
					bottom: 3px;
				}
			}
			
		}
	}
}



/*--------------------------------------------------------RWD-------------------------------------------------------*/
@media screen and (max-width:991px){ 
	#Footer{
		.row{
			.col-x{
				text-align: center;
			}
			>.col-left{
				float:none;
				#logo-gray{
					margin:0 auto;
				}
			}
			>.col-center{
				padding: 30px 0px 30px 0px;
				.col-inner{
					padding-bottom:20px;
				}
			}
			>.col-right{
				li{
					position: relative;
					text-align: center;
					i.fa-angle-right {
						right:30%;
					}
					i.fa-map-marker{
						top:-20px;
					}
					ul.social{
						position: absolute;
    					top: 50%;
    					left: 50%;
    					transform: translate(-50%);
						float: none;
						a{
							padding:0px 10px 0px 0px;
						}
					}
				}
				li.email {
					float: none;
					margin:0 auto;
				}
			}
		}
	}
}

@media screen and (max-width:1199px){
	div#nav1{
		text-align: center;
	}

	.navbar-default{
		font-family:@Mr;
		.navbar-nav>li .twicks{
				position: relative;
				bottom:5px;
		}
		
		.navbar-nav>li>a {

		    div.count {
				bottom: 2px;
				right: 3px;
			}
		}

		.navbar-text{
			padding-top:43.5px;
		}

		ul.nav.navbar-nav.navbar-right{
			padding-bottom:36px;
		} 	
	}
}

@media screen and (max-width:767px){
	#Header_home{
		background-color: #282828;
		ul li{
			padding: 17px 10px;
		}
		.contact{
			width: 320px;
			min-width: 320px;
			margin: 0 auto;
			display: block;
			float: none;
		}
		.lists{
			width: 320px;
			min-width: 320px;
			margin: 0 auto;
			display: block;
			float: none;
			li:nth-child(2){
				padding:17px 24px;
			}
		}
	}
}
// @media screen and (max-width:991px){ 
// 	#Footer{
// 		.row{
// 			.col-x{
// 				text-align: center;
// 			}
// 			>.col-left{
// 				float:none;
// 				#logo-gray{
// 					margin:0 auto;
// 				}
// 			}
// 			>.col-center{
// 				padding: 30px 0px 30px 0px;
// 				.col-inner{
// 					padding-bottom:20px;
// 				}
// 			}
// 			>.col-right{
// 				li{
// 					position: relative;
// 					text-align: center;
// 					i.fa-angle-right {
// 						right:30%;
// 					}
// 					i.fa-map-marker{
// 						top:-20px;
// 					}
// 					ul.social{
// 						position: absolute;
//     					top: 50%;
//     					left: 50%;
//     					transform: translate(-50%);
// 						float: none;
// 						a{
// 							padding:0px 10px 0px 0px;
// 						}
// 					}
// 				}
// 				li.email {
// 					float: none;
// 					margin:0 auto;
// 				}
// 			}
// 		}
// 	}
// }

// @media screen and (max-width:767px){
// 	div#nav1{
// 		text-align: center;
// 	}

// 	.navbar-default{
// 		font-family:@Mr;
// 		.navbar-nav>li .twicks{
// 				position: relative;
// 				bottom:5px;
// 		}
		
// 		.navbar-nav>li>a {

// 		    div.count {
// 				bottom: 2px;
// 				right: 3px;
// 			}
// 		}

// 		.navbar-text{
// 			padding-top:43.5px;
// 		}

// 		ul.nav.navbar-nav.navbar-right{
// 			padding-bottom:36px;
// 		} 	
// 	}
// }
