

/*ALWAYS*/
* {
  box-sizing:border-box;
}
/**/

body{
	position: relative;
    color: #929292;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}


h1,h2,h3,h4,h5,h6,p,ul{
	margin: 0;

}

img {
	display: block;
}

a{
	text-decoration: none;
	text-transform: uppercase;
}


ul{
	padding: 0;
}

li{
	list-style-type: none;
}

.clearfix:after {
	content: " ";
	display:table;
	clear:both;
}

.col-6{
	width: 50%;

}

.col-5{
width: 41.666666666666667%;
}


.col-4{
	width: 33.333333%;
}

.col-3{
	width: calc(100% * 3/12);
}

.co-2{
	width: calc(100% * 2/12);
}


.row {
  margin: 0 -15px;
}

.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-12 {
  float: left;
  padding: 0 15px;
}
 



/*CUSTOMIZE*/

.container{
	width: 1200px;
	position: relative;
	margin:0 auto;
}



/*HEADER*/

.logo_navi {
	
	padding:44px 0px 50px 53px;
}

.logo_navi #logo a,.logo_navi #logo p{
	float: left;
}

.logo_navi #logo p{
    padding-top: 11px;
    padding-left: 32px;
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #4B4B4B;
}

.logo_navi #navi {
	float: right;
	padding-top: 11px;
	list-style-type: none;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    color: #0E0E0E;
}

.logo_navi #navi > li {
    position: relative;
    float: left;
    font-size: 10px;
    padding: 0 12px;
    text-transform: uppercase;
}

.logo_navi #navi > li i.fa-3x {
	position: relative;
	bottom: 10px;
}

.logo_navi #navi > li i.icon-handbag:before {
	position: relative;
	bottom:3px;
	margin: 0px;
	font-size: 30px;
}

/*由於這個handbag往上都抓不到，所以利用繪圖軟體把它輸出成svg後
，再用fontello順利轉成icon-font，順便複習了一下利用fontello的手順
，最後在呈現時，高度怎樣都沒辦法對齊font-awsome輸出的icon-fonts，
所以還是利用pos-r調整到最佳位置*/

.logo_navi #navi div.count {
	background-color: black;
	position: absolute;
	bottom:5px;
	right: 0px;
	border-radius:50%; 
	padding-top:2px;
	height:20px;
	width: 20px;
	text-align: center;
	font-size: 8px;
	font-weight: 400;
	color:white;
}

.logo_navi #navi >li>a {
	text-decoration: none;
	color:#323232;
	transition: color 0.3s ease;

}

.logo_navi #navi >li>a:hover{
	color:#D6B161;
}


.logo_navi #navi>li>a.active {
	color:#D6B161;
}



.about-us {
	background: #f4f4f4;
	padding: 52px 0px 71px 0px;
	text-align: center;
}

.about-us h1{
	color:rgba(73, 73, 73, 255);
 	font-family: monsterrat,sans-serif;
	font-size: 44px;
	font-weight: 700;
	text-transform:uppercase;
}

.about-us p{
	padding-top:18px;
	text-transform:capitalize;
	font-size: 14px;
	color: rgba(73, 73, 73, 255);
}


/*CONTENT*/

.who-we-are  {
    padding-top: 95px;
}


.who-we-are h2 {
    
    font-family: ﻿Montserrat,sans-serif;
	color: rgba(73, 73, 73, 255);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;    
}

.who-we-are p {
    padding-top: 60px;
	line-height:30px;
    color: rgba(73, 73, 73, 255);
}

.who-we-are p span{
	line-height:30px;
    font-family: ﻿Montserrat,sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: rgba(73, 73, 73, 255);
}

.who-we-are p.bold {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #494949;
}

.who-we-are ul.media  {
	padding-top: 10px;
}

.who-we-are ul.media li {
	float: left;
}

.who-we-are ul.media li a{
	padding-right: 10px;
	font-size: 16px;
	color: #494949;
}

.our-team h2{
    font-family: ﻿Montserrat,sans-serif;
    color: rgba(73, 73, 73, 255);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
}

.our-team .container{
	padding-top: 45px;
}

.our-team .row {
	padding-top: 42px;
}

.our-team .col-3 {
	padding: 0px 15px;
}

.our-team .member {
	position: relative;
	width: 280px;
   /*如果沒有給width，容器大小會是277.5，塞不下280X280的圖片
   所以手動設定width*/
}

.our-team .cover{
    box-sizing: content-box;
    /*看設計稿280X280的圖片下方好像有一個border-bottom
    必須要先跳出border-box才能讓border-bottom長在容器外面*/
    border-bottom: 10px solid #f2f2f2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    opacity: 0;
	transition: all 0.3s ease;
}

.our-team .cover:hover{
    opacity: 1;
    cursor: pointer;
}

.our-team .cover ul {
    text-align: center;
    position: relative;
    top: 200px;
    transition:all 0.3s ease ;
}


.our-team .cover:hover ul{
    transform:translateY(-70px);
}
.our-team .cover ul li i{
    background: #515151;
    padding-top: 9px;
    padding-left: 3px;
    border-radius: 50%;
	width: 35px;
    height: 35px;
    font-size: 18px;
    color: white;
}

.our-team .col-3 > ul{
	padding-top: 18px;
}

.our-team .col-3 > ul li.bar {
    margin-right: 10px;;
  	width: 7px;
    height: 31px;
    background-color: #eeeeee;
    float: left;
    /*為了人名旁邊這一槓，測過了list-style-type等屬性，最後是
    這樣把一個li設定後湊出來，不確定妥不妥適*/
}

.our-team .col-3 > ul .name {
	font-family: monsterrat, sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	color:rgb(73, 73, 73);
}

.our-team .col-3 > ul .position {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;

}


.our-team .empty{
    width: 280px;
    height: 280px;
    background: rgba(222, 222, 222);
    text-align: center;
}

.our-team .empty:hover {
    cursor: pointer;
}

.our-team .empty p {
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    font-family: monsterrat;
    font-weight: 700;
    top: 130px;

}

.our-work-space .row {
	 position: relative;
     margin: 0px -8px;
}

.our-work-space .slider > img{
	 position: absolute;
	 z-index: -1;
	 opacity: 0.4;
}

.our-work-space .slider > img[alt="left"] {
	top: 204.5px;
	left: -355px;
}

.our-work-space .slider > img[alt="right"] {
	top: 204px;
	right: -355px;
}


.our-work-space h2 {
    padding: 125px 0px 47px 0px;
    font-family: ﻿Montserrat,sans-serif;
    color: rgba(73, 73, 73, 255);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
}


.our-work-space .picture, .our-work-space .picture * { 
  box-sizing:content-box;
  /*在設定slider裡面容器的間距時，由於完全參照設計稿，採直接設定寬高的作法
  ，此時用border-box我覺得反而礙手礙腳，因此僅在這個區塊回content-box*/

} 

.our-work-space .group img{
	display: inline;
}


.our-work-space .mySlides {
    display: none;
}

.our-work-space .active{
    display: block;
}

.our-work-space .mySlides .picture {
  float: left;
  height:542px;
  padding:0px 8px;
}

.our-work-space .mySlides .left{
  width:542px;
}

.our-work-space .mySlides .right{
  width: 640px;
}


.our-work-space .mySlides .right .up {
   height:308px;
   padding-bottom:14px;

}

.our-work-space .mySlides .right .up img:first-child {
  padding-right:12px;
}

.our-work-space .prev, .our-work-space .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(135, 135, 135, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.our-work-space .prev {
  left: -205px;
}

.our-work-space .next {
  right: -205px;
  border-radius: 3px 0 0 3px;
}

.our-work-space .prev:hover, .our-work-space .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.our-work-space .lines {
  text-align:center;
  padding: 20px 0px 100px 0px;
}

.our-work-space .line {
  cursor: pointer;
  height: 4px;
  width: 91px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.our-work-space .line.active, .our-work-space .line:hover {
  background-color: #717171;
}

.our-work-space .fade {

  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*FOOTER*/

#FOOTER .misc {
	background-color: rgb(246, 246, 246);
}

#FOOTER .misc .container{
	padding: 72px 0px 75px 0px ;
}

#FOOTER .col-4{
	font-weight: 700;
	color: rgba(168, 168, 168);	
}

#FOOTER .col-4 a {
	text-transform: capitalize;	
	color: rgba(168, 168, 168);
}

#FOOTER .col-4 div i  {
	padding-right:3px;
}

#FOOTER .col-4 div i.fa-map-marker,#FOOTER .col-4 div.address a  {
	display: inline-block;
}

#FOOTER .col-4 div i.fa-map-marker{
	position: relative;
	top:-15px;
}
/*上面兩段(539行~546行)對i.fa-map-marker，是為了達到設計稿上NEW YANKEE再下方
的效果，雖然做出來了，但不確定是不是硬湊的...*/

#FOOTER .col-4 #logo-gray, #FOOTER .col-4 p,#FOOTER .col-4 .address  {
	padding-bottom: 30px;
}


#FOOTER  .col-5 ul{
	float: left;
	padding: 0 25px;
}


#FOOTER .title{
	font-weight:700;
	font-size: 18px;
	color: rgba(87, 87, 87, 255);
	padding-bottom:30px;
}

#FOOTER  .col-5 ul a{
	color: rgba(134, 134, 134, 255);
	line-height: 30px;
	text-transform: capitalize;
	font-weight: 700;
}


#FOOTER .col-3 .sign-up{
	text-align: right;
}

#FOOTER .col-3 .sign-up > li{
	padding-bottom: 30px;
}

#FOOTER .col-3 .sign-up li.email{
	position: relative;
}

#FOOTER .col-3 .sign-up li i.fa-angle-right{
    position: absolute;
    right: 30px;
    bottom: 42px;
    font-size: 16px;
    cursor: pointer;
}
/*不懂...為何上面的選擇器照以下這樣寫
#FOOTER .col-3 .sign-up li.bold i.fa-angle-right
(差異li→li.bold)反而瀏覽器看不懂...*/

#FOOTER .col-3 .sign-up li.bold {
    padding-bottom: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #494949;
}

#FOOTER .col-3 .sign-up ul.media{
	float: right;
}


#FOOTER .col-3 .sign-up ul.media li {
	float: left;
}

#FOOTER .col-3 .sign-up ul.media li a{
	padding-left: 10px;
	font-size: 16px;
	color: #494949;
}



#FOOTER .col-3 .sign-up input{
    padding: 10px 0px;
    padding-left:20px;
    background-color: #f6f6f6;
    border-radius: 23px;
    width:250px;
    border: 1px solid #868686;
}

#FOOTER .col-3 .sign-up input:focus{
	outline: none;
	border:1px solid rgb(102, 175, 233);
}

#FOOTER .copy-right .container{
	padding: 40px 0px 95px 0px;
}

#FOOTER .copy-right .col-6 p{

	font-weight: 700;

}

#FOOTER .copy-right .col-6 a{
	color: black;
	font-family: monsterrat,sans-serif;
	font-weight: 700;
	letter-spacing:0px;
	transition: all 0.3s linear; 
}

#FOOTER .copy-right .col-6 a:hover{
	color:red;
}

#FOOTER .copy-right .col-6 img{
    float: right;
    position: relative;
    bottom: 3px;
    /*不知道這邊設relative調位置算不算是硬幹...*/
}